/* BEGIN css for posting pages */

@font-face {
	font-family: "PT_Sans-Narrow-Web-Regular";
	src: url(../shop_fonts/PT_Sans-Narrow-Web-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Jura-Regular";
	src: url(../shop_fonts/Jura-Regular.ttf) format("truetype");
}


html,
body {
	margin: 0 auto;
	font-family: 'PT_Sans-Narrow-Web-Regular', sans-serif;
	font-size: 20px;
	color: #ae9c80;
	background: black;
	text-shadow: 2px 2px 1px #000000;
}


.wrap_post_sharing_modal {
      position: fixed;
      z-index: 11;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      width: 100%;
      height: 100%;
}
.wrap_top_post_sharing_modal {
  position: fixed;
      display: block;
      width: calc(100% - 8px);
      height: 44px;
      text-align: center;
      left: 4px;
      z-index: 111;
}
.title_verse_sharing {
	font-family: "Jura-Regular", sans-serif;
	color: #ae9c80;
	text-shadow: 2px 2px 1px #000000;
	text-align: center;
	line-height: 44px;
}
.wrap_options_bar {
  left: 0;
      right: 0;
      max-height: 44px;
      top: calc(0px + 4px);
      position: absolute;
      max-width: 312px;
      margin: 0 auto;
			z-index: 1;
}
.wait_to_load_options {
	width: calc(100vw - 8px);
	position: absolute;
	left: 0;
	right: 0;
	min-width: 312px;
	max-width: 312px;
	height: 44px;
	margin: 0 auto;
	text-align: center;
}
.countdown_loading_addthis_options {
	line-height: 44px;
}
#btn_countdown_start {
	display: none;
}
.options_bar {
	display: flex;
	min-width: 312px;
	max-width: 600px;
	margin: 0 auto;
}
.option_menu,
.option_share,
.option_send,
.option_save,
.option_link,
.option_print {
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	font-family: 'PT_Sans-Narrow-Web-Regular', sans-serif;
  font-size: 20px;
	line-height: 44px;
	cursor: pointer;
}
.option_menu,
.option_share,
.option_send,
.option_save,
.option_link,
.option_print {
	color: #D5AD6D;
	text-shadow: 2px 2px 1px #000000;
}
.option_menu:hover,
.option_share:hover,
.option_send:hover,
.option_save:hover,
.option_link:hover,
.option_print:hover {
	color: #dac4a2;
	text-decoration: none;
}
.wrap_show_options {
  width: 100vw;
      min-width: 312px;
      max-width: 312px;
      margin: 0 auto;
      position: absolute;
      top: calc(44px + 4px);
      left: 0;
      right: 0;
      z-index: 111;
}
.show_menu_options,
.show_sharing_options,
.show_sending_options,
.show_saving_options {
	display: none;
	width: 100vw;
	margin: 0 auto;
	text-align: center;
	max-width: 312px;
	z-index: 2;
	background-color: black;
	height: 134px;
  top: 0;
}
.at-resp-share-element.at-mobile .at-share-btn {
	margin-right: 2px !important;
}
.addthis_align {
	display: block;
	padding-top: 4px;
	width: 100vw;
	max-width: 312px;
	text-align: center;
}
.wrap_image_sharing_ready_to_share {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: calc(44px + 138px);
	text-align: center;
	z-index: 1;
}
.wrap_image_sharing_ready_to_share>div>img {
	width: calc(100vw - 8px);
	min-width: 312px;
	max-width: 312px;
  margin: 0;
	opacity: 1;
transition: opacity 500ms;
}
/* BEGIN wrap_done_with_ready_post_next */
.wrap_done_with_ready_post_next {
	position: absolute;
	display: block;
	top: calc(186px + 160px);
	width: calc(100% - 4px);
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 44px;
	max-width: 312px;
	z-index: 1;
	line-height: 44px;
    text-align: center;
}
.done_with_ready_post_next {
	width: 100%;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	text-align: justify;
	font-size: 0.1px;
	/* IE 9 & 10 don't like font-size: 0; */
}
.done_with_ready_post_next>.done_with_ready_post_next_item_left {
	height: 44px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	width: calc(35%);
}
.done_with_ready_post_next>.done_with_ready_post_next_item_center {
	height: 44px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	width: calc(30% - 1px);
}
.done_with_ready_post_next>.done_with_ready_post_next_item_right {
	height: 44px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	width: calc(35%);
}
.done_with_ready_post_next:after {
	content: '';
	width: 100%;
	/* Ensures there are at least 2 lines of text, so justification works */
	display: inline-block;
}
/* END wrap_done_with_ready_post_next */
.wrap_ctr_post_sharing_modal {
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
  background: rgba(0, 0, 0, 0.9);

}
/* BEGIN sponsors show time*/
.wrap_sponsors_show_time {
	position: absolute;
	display: none;
	top: calc(4px);
	width: calc(100% - 4px);
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 44px;
	z-index: 10;
	max-width: 312px;
}
.sponsors_show_time {
	width: 100%;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	text-align: justify;
	font-size: 0.1px;
	/* IE 9 & 10 don't like font-size: 0;
     */
}
.sponsors_show_time>.sponsors_show_time_item_left {
	height: 44px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	width: calc(50% - 16px);
}
.sponsors_show_time>.sponsors_show_time_item_center {
	height: 44px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	width: 30px;
}
.sponsors_show_time>.sponsors_show_time_item_right {
	height: 44px;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
	width: calc(50% - 16px);
}
.sponsors_show_time:after {
	content: '';
	width: 100%;
	/* Ensures there are at least 2 lines of text, so justification works */
	display: inline-block;
}
/* END sponsors show time*/

/* BEGIN wrap_sponsor_ads */

.wrap_sponsor_ads {
  position: absolute;
	display: none;
      top: calc(44px + 4px);
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      max-width: 310px;
      height: calc(100% - 44px - 4px - 44px);
      background: black;
      overflow: auto;
      z-index: 11111111;
}

.sponsor_ads {
	display: inline-block;
	text-align: center;
	font-size: 0.1px;
	background: black;
}

.sponsor_ads>.sponsor_item {
	display: inline-block;
	margin: 2px;
	text-align: center;
	width: 100%;
	background-color: #111111;
	max-width: calc(310px - 22px);
}

.sponsor_ads:after {
	content: '';
	width: 100%;
	/* Ensures there are at least 2 lines of text, so justification works */
	display: inline-block;
}

.sponsor_item_image {
	display: table-cell;
	vertical-align: middle;
	float: left;
	height: 88px;
	width: 88px;
	text-align: center;
	background: black;
}

.sponsor_item_image img {
	display: table-cell;
	vertical-align: middle;
	width: 88px;
	height: 88px;
	min-width: 88px;
	max-width: 88px;
}

.sponsor_item_desc {
	font-size: 17px;
	text-align: left;
	padding-left: 12px;
	height: 88px;
	line-height: 19px;
	display: table-cell;
	vertical-align: middle;
}

/* END wrap_sponsor_ads */


.paypal_button_donate_now {
	position: absolute;
	display: block;
	top: calc(4px + 44px + 296px);
	width: calc(100% - 4px);
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 312px;
	z-index: 2;
}
.wrap_the_paypal_button {
	display: inline-block;
	text-align: center;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 5px;
  background: black;
    height: 60px;
}
a.bf_links {
  color: #d5ad6d;
}
a.bf_links:hover,
a.bf_links:focus {
  color: #dac4a2;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.bf_links {
  color: #d5ad6d;
  cursor: pointer;
}
.bf_links:hover,
.bf_links:focus {
  color: #dac4a2;
  text-decoration: none;
}
.bgc-0001{
   background: hsl(0,0%,8%) !important;
   background: -moz-radial-gradient(center, ellipse cover, hsl(0,0%,8%)0%, hsl(0,0%,8%)100%) !important;
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsl(0,0%,8%)), color-stop(100%,hsl(0,0%,0%))) !important;
   background: -webkit-radial-gradient(center, ellipse cover, hsl(100,0%,8%) 0%,hsl(0,0%,0%) 100%) !important;
   background: -o-radial-gradient(center, ellipse cover, hsl(0,0%,8%) 0%,hsl(0,0%,0%) 100%) !important;
   background: -ms-radial-gradient(center, ellipse cover, hsl(0,0%,8%) 0%,hsl(0,0%,0%) 100%) !important;
   background: radial-gradient(ellipse at center, hsl(0,0%,8%) 0%,hsl(0,0%,0%) 100%) !important;
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl(0,0%,8%)', endColorstr='#0',GradientType=1 ) !important;
}

.wrap_bot {
    position: fixed;
    display: block;
    width: calc(100% - 8px);
    height: 44px;
    background: green;
    z-index: 11;
    bottom: 4px;
    text-align: center;

}
.made_with_love {
  font-family: "Jura-Regular", sans-serif;
color: #d5ad6d;
text-shadow: 2px 2px 1px #000000;
text-align: center;
line-height: 44px;
cursor: pointer;
font-size: 19px;
}

/* div id's with bg in pages hidden*/
#bg {display:none}

/* div with verse in text form so we can copy paste */
.v {
	position: absolute;
	display: block;
		z-index: 111;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 42px;
		max-width: 292px;
		min-height: 284px;
		background: #00000073 url(../spinner.gif) no-repeat center;
		padding: 10px;
		text-align: center;
		color: #ae9c80;
	}
.love {
	color:red;
}
.opacity_cover {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 111;
}


/* END css for posting pages */ 
