.GP-0001	{background: url(../shop_patterns/P-001.png), 	linear-gradient(rgb(189, 195, 199), rgb(44, 62, 80));}
.GP-0002	{background: url(../shop_patterns/P-002.png), 	linear-gradient(rgb(238, 156, 167), rgb(255, 221, 225));}
.GP-0003	{background: url(../shop_patterns/P-003.png), 	linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));}
.GP-0004	{background: url(../shop_patterns/P-004.png), 	linear-gradient(rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));}
.GP-0005	{background: url(../shop_patterns/P-005.png), 	linear-gradient(rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));}
.GP-0006	{background: url(../shop_patterns/P-006.png), 	linear-gradient(rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));}
.GP-0007	{background: url(../shop_patterns/P-007.png), 	linear-gradient(rgb(185, 43, 39), rgb(21, 101, 192));}
.GP-0008	{background: url(../shop_patterns/P-008.png), 	linear-gradient(rgb(55, 59, 68), rgb(66, 134, 244));}
.GP-0009	{background: url(../shop_patterns/P-009.png), 	linear-gradient(rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));}
.GP-0010	{background: url(../shop_patterns/P-010.png), 	linear-gradient(rgb(255, 0, 153), rgb(73, 50, 64));}
.GP-0011	{background: url(../shop_patterns/P-011.png), 	linear-gradient(rgb(170, 75, 107), rgb(107, 107, 131), rgb(59, 141, 153));}
.GP-0012	{background: url(../shop_patterns/P-012.png), 	linear-gradient(rgb(142, 45, 226), rgb(74, 0, 224));}
.GP-0013	{background: url(../shop_patterns/P-013.png), 	linear-gradient(rgb(31, 64, 55), rgb(153, 242, 200));}
.GP-0014	{background: url(../shop_patterns/P-014.png), 	linear-gradient(rgb(249, 83, 198), rgb(185, 29, 115));}
.GP-0015	{background: url(../shop_patterns/P-015.png), 	linear-gradient(rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));}
.GP-0016	{background: url(../shop_patterns/P-016.png), 	linear-gradient(rgb(195, 20, 50), rgb(36, 11, 54));}
.GP-0017	{background: url(../shop_patterns/P-017.png), 	linear-gradient(rgb(241, 39, 17), rgb(245, 175, 25));}
.GP-0018	{background: url(../shop_patterns/P-018.png), 	linear-gradient(rgb(101, 153, 153), rgb(244, 121, 31));}
.GP-0019	{background: url(../shop_patterns/P-019.png), 	linear-gradient(rgb(221, 62, 84), rgb(107, 229, 133));}
.GP-0020	{background: url(../shop_patterns/P-020.png), 	linear-gradient(rgb(131, 96, 195), rgb(46, 191, 145));}
.GP-0021	{background: url(../shop_patterns/P-021.png), 	linear-gradient(rgb(84, 74, 125), rgb(255, 212, 82));}
.GP-0022	{background: url(../shop_patterns/P-022.png), 	linear-gradient(rgb(0, 159, 255), rgb(236, 47, 75));}
.GP-0023	{background: url(../shop_patterns/P-023.png), 	linear-gradient(rgb(101, 78, 163), rgb(234, 175, 200));}
.GP-0024	{background: url(../shop_patterns/P-024.png), 	linear-gradient(rgb(255, 65, 108), rgb(255, 75, 43));}
.GP-0025	{background: url(../shop_patterns/P-025.png), 	linear-gradient(rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));}
.GP-0026	{background: url(../shop_patterns/P-026.png), 	linear-gradient(rgb(168, 255, 120), rgb(120, 255, 214));}
.GP-0027	{background: url(../shop_patterns/P-027.png), 	linear-gradient(rgb(30, 150, 0), rgb(255, 242, 0), rgb(255, 0, 0));}
.GP-0028	{background: url(../shop_patterns/P-028.png), 	linear-gradient(rgb(237, 33, 58), rgb(147, 41, 30));}
.GP-0029	{background: url(../shop_patterns/P-029.png), 	linear-gradient(rgb(253, 200, 48), rgb(243, 115, 53));}
.GP-0030	{background: url(../shop_patterns/P-030.png), 	linear-gradient(rgb(0, 180, 219), rgb(0, 131, 176));}
.GP-0031	{background: url(../shop_patterns/P-031.png), 	linear-gradient(rgb(255, 239, 186), rgb(255, 255, 255));}
.GP-0032	{background: url(../shop_patterns/P-032.png), 	linear-gradient(rgb(89, 193, 115), rgb(161, 127, 224), rgb(93, 38, 193));}
.GP-0033	{background: url(../shop_patterns/P-033.png), 	linear-gradient(rgb(0, 90, 167), rgb(255, 253, 228));}
.GP-0034	{background: url(../shop_patterns/P-034.png), 	linear-gradient(rgb(218, 68, 83), rgb(137, 33, 107));}
.GP-0035	{background: url(../shop_patterns/P-035.png), 	linear-gradient(rgb(99, 99, 99), rgb(162, 171, 88));}
.GP-0036	{background: url(../shop_patterns/P-036.png), 	linear-gradient(rgb(173, 83, 137), rgb(60, 16, 83));}
.GP-0037	{background: url(../shop_patterns/P-037.png), 	linear-gradient(rgb(168, 192, 255), rgb(63, 43, 150));}
.GP-0038	{background: url(../shop_patterns/P-038.png), 	linear-gradient(rgb(51, 51, 51), rgb(221, 24, 24));}
.GP-0039	{background: url(../shop_patterns/P-039.png), 	linear-gradient(rgb(78, 84, 200), rgb(143, 148, 251));}
.GP-0040	{background: url(../shop_patterns/P-040.png), 	linear-gradient(rgb(53, 92, 125), rgb(108, 91, 123), rgb(192, 108, 132));}
.GP-0041	{background: url(../shop_patterns/P-041.png), 	linear-gradient(rgb(188, 78, 156), rgb(248, 7, 89));}
.GP-0042	{background: url(../shop_patterns/P-042.png), 	linear-gradient(rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128));}
.GP-0043	{background: url(../shop_patterns/P-043.png), 	linear-gradient(rgb(62, 81, 81), rgb(222, 203, 164));}
.GP-0044	{background: url(../shop_patterns/P-044.png), 	linear-gradient(rgb(17, 153, 142), rgb(56, 239, 125));}
.GP-0045	{background: url(../shop_patterns/P-045.png), 	linear-gradient(rgb(16, 141, 199), rgb(239, 142, 56));}
.GP-0046	{background: url(../shop_patterns/P-046.png), 	linear-gradient(rgb(252, 92, 125), rgb(106, 130, 251));}
.GP-0047	{background: url(../shop_patterns/P-047.png), 	linear-gradient(rgb(252, 70, 107), rgb(63, 94, 251));}
.GP-0048	{background: url(../shop_patterns/P-048.png), 	linear-gradient(rgb(201, 75, 75), rgb(75, 19, 79));}
.GP-0049	{background: url(../shop_patterns/P-049.png), 	linear-gradient(rgb(35, 7, 77), rgb(204, 83, 51));}
.GP-0050	{background: url(../shop_patterns/P-050.png), 	linear-gradient(rgb(255, 251, 213), rgb(178, 10, 44));}
.GP-0051	{background: url(../shop_patterns/P-051.png), 	linear-gradient(rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));}
.GP-0052	{background: url(../shop_patterns/P-052.png), 	linear-gradient(rgb(0, 176, 155), rgb(150, 201, 61));}
.GP-0053	{background: url(../shop_patterns/P-053.png), 	linear-gradient(rgb(211, 204, 227), rgb(233, 228, 240));}
.GP-0054	{background: url(../shop_patterns/P-054.png), 	linear-gradient(rgb(60, 59, 63), rgb(96, 92, 60));}
.GP-0055	{background: url(../shop_patterns/P-055.png), 	linear-gradient(rgb(202, 197, 49), rgb(243, 249, 167));}
.GP-0056	{background: url(../shop_patterns/P-056.png), 	linear-gradient(rgb(128, 0, 128), rgb(255, 192, 203));}
.GP-0057	{background: url(../shop_patterns/P-057.png), 	linear-gradient(rgb(0, 242, 96), rgb(5, 117, 230));}
.GP-0058	{background: url(../shop_patterns/P-058.png), 	linear-gradient(rgb(252, 74, 26), rgb(247, 183, 51));}
.GP-0059	{background: url(../shop_patterns/P-059.png), 	linear-gradient(rgb(116, 235, 213), rgb(172, 182, 229));}
.GP-0060	{background: url(../shop_patterns/P-060.png), 	linear-gradient(rgb(109, 96, 39), rgb(211, 203, 184));}
.GP-0061	{background: url(../shop_patterns/P-061.png), 	linear-gradient(rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188), rgb(253, 239, 249));}
.GP-0062	{background: url(../shop_patterns/P-062.png), 	linear-gradient(rgb(102, 125, 182), rgb(0, 130, 200), rgb(0, 130, 200), rgb(102, 125, 182));}
.GP-0063	{background: url(../shop_patterns/P-063.png), 	linear-gradient(rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));}
.GP-0064	{background: url(../shop_patterns/P-064.png), 	linear-gradient(rgb(225, 238, 195), rgb(240, 80, 83));}
.GP-0065	{background: url(../shop_patterns/P-065.png), 	linear-gradient(rgb(26, 42, 108), rgb(178, 31, 31), rgb(253, 187, 45));}
.GP-0066	{background: url(../shop_patterns/P-066.png), 	linear-gradient(rgb(34, 193, 195), rgb(253, 187, 45));}
.GP-0067	{background: url(../shop_patterns/P-067.png), 	linear-gradient(rgb(255, 153, 102), rgb(255, 94, 98));}
.GP-0068	{background: url(../shop_patterns/P-068.png), 	linear-gradient(rgb(127, 0, 255), rgb(225, 0, 255));}
.GP-0069	{background: url(../shop_patterns/P-069.png), 	linear-gradient(rgb(201, 214, 255), rgb(226, 226, 226));}
.GP-0070	{background: url(../shop_patterns/P-070.png), 	linear-gradient(rgb(57, 106, 252), rgb(41, 72, 255));}
.GP-0071	{background: url(../shop_patterns/P-071.png), 	linear-gradient(rgb(217, 167, 199), rgb(255, 252, 220));}
.GP-0072	{background: url(../shop_patterns/P-072.png), 	linear-gradient(rgb(12, 235, 235), rgb(32, 227, 178), rgb(41, 255, 198));}
.GP-0073	{background: url(../shop_patterns/P-073.png), 	linear-gradient(rgb(6, 190, 182), rgb(72, 177, 191));}
.GP-0074	{background: url(../shop_patterns/P-074.png), 	linear-gradient(rgb(100, 43, 115), rgb(198, 66, 110));}
.GP-0075	{background: url(../shop_patterns/P-075.png), 	linear-gradient(rgb(28, 146, 210), rgb(242, 252, 254));}
.GP-0076	{background: url(../shop_patterns/P-076.png), 	linear-gradient(rgb(0, 0, 0), rgb(15, 155, 15));}
.GP-0077	{background: url(../shop_patterns/P-077.png), 	linear-gradient(rgb(54, 209, 220), rgb(91, 134, 229));}
.GP-0078	{background: url(../shop_patterns/P-078.png), 	linear-gradient(rgb(203, 53, 107), rgb(189, 63, 50));}
.GP-0079	{background: url(../shop_patterns/P-079.png), 	linear-gradient(rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123));}
.GP-0080	{background: url(../shop_patterns/P-080.png), 	linear-gradient(rgb(40, 60, 134), rgb(69, 162, 71));}
.GP-0081	{background: url(../shop_patterns/P-081.png), 	linear-gradient(rgb(239, 59, 54), rgb(255, 255, 255));}
.GP-0082	{background: url(../shop_patterns/P-082.png), 	linear-gradient(rgb(192, 57, 43), rgb(142, 68, 173));}
.GP-0083	{background: url(../shop_patterns/P-083.png), 	linear-gradient(rgb(21, 153, 87), rgb(21, 87, 153));}
.GP-0084	{background: url(../shop_patterns/P-084.png), 	linear-gradient(rgb(0, 0, 70), rgb(28, 181, 224));}
.GP-0085	{background: url(../shop_patterns/P-085.png), 	linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));}
.GP-0086	{background: url(../shop_patterns/P-086.png), 	linear-gradient(rgb(86, 204, 242), rgb(47, 128, 237));}
.GP-0087	{background: url(../shop_patterns/P-087.png), 	linear-gradient(rgb(242, 153, 74), rgb(242, 201, 76));}
.GP-0088	{background: url(../shop_patterns/P-088.png), 	linear-gradient(rgb(235, 87, 87), rgb(0, 0, 0));}
.GP-0089	{background: url(../shop_patterns/P-089.png), 	linear-gradient(rgb(228, 77, 38), rgb(241, 101, 41));}
.GP-0090	{background: url(../shop_patterns/P-090.png), 	linear-gradient(rgb(74, 194, 154), rgb(189, 255, 243));}
.GP-0091	{background: url(../shop_patterns/P-091.png), 	linear-gradient(rgb(178, 254, 250), rgb(14, 210, 247));}
.GP-0092	{background: url(../shop_patterns/P-092.png), 	linear-gradient(rgb(48, 232, 191), rgb(255, 130, 53));}
.GP-0093	{background: url(../shop_patterns/P-093.png), 	linear-gradient(rgb(214, 109, 117), rgb(226, 149, 135));}
.GP-0094	{background: url(../shop_patterns/P-094.png), 	linear-gradient(rgb(32, 0, 44), rgb(203, 180, 212));}
.GP-0095	{background: url(../shop_patterns/P-095.png), 	linear-gradient(rgb(195, 55, 100), rgb(29, 38, 113));}
.GP-0096	{background: url(../shop_patterns/P-096.png), 	linear-gradient(rgb(247, 151, 30), rgb(255, 210, 0));}
.GP-0097	{background: url(../shop_patterns/P-097.png), 	linear-gradient(rgb(52, 232, 158), rgb(15, 52, 67));}
.GP-0098	{background: url(../shop_patterns/P-098.png), 	linear-gradient(rgb(97, 144, 232), rgb(167, 191, 232));}
.GP-0099	{background: url(../shop_patterns/P-099.png), 	linear-gradient(rgb(68, 160, 141), rgb(9, 54, 55));}
.GP-0100	{background: url(../shop_patterns/P-100.png), 	linear-gradient(rgb(32, 1, 34), rgb(111, 0, 0));}
.GP-0101	{background: url(../shop_patterns/P-101.png), 	linear-gradient(rgb(5, 117, 230), rgb(2, 27, 121));}
.GP-0102	{background: url(../shop_patterns/P-102.png), 	linear-gradient(rgb(69, 104, 220), rgb(176, 106, 179));}
.GP-0103	{background: url(../shop_patterns/P-103.png), 	linear-gradient(rgb(67, 198, 172), rgb(25, 22, 84));}
.GP-0104	{background: url(../shop_patterns/P-104.png), 	linear-gradient(rgb(9, 48, 40), rgb(35, 122, 87));}
.GP-0105	{background: url(../shop_patterns/P-105.png), 	linear-gradient(rgb(67, 198, 172), rgb(248, 255, 174));}
.GP-0106	{background: url(../shop_patterns/P-106.png), 	linear-gradient(rgb(255, 175, 189), rgb(255, 195, 160));}
.GP-0107	{background: url(../shop_patterns/P-107.png), 	linear-gradient(rgb(240, 242, 240), rgb(0, 12, 64));}
.GP-0108	{background: url(../shop_patterns/P-108.png), 	linear-gradient(rgb(232, 203, 192), rgb(99, 111, 164));}
.GP-0109	{background: url(../shop_patterns/P-109.png), 	linear-gradient(rgb(220, 227, 91), rgb(69, 182, 73));}
.GP-0110	{background: url(../shop_patterns/P-110.png), 	linear-gradient(rgb(192, 192, 170), rgb(28, 239, 255));}
.GP-0111	{background: url(../shop_patterns/P-111.png), 	linear-gradient(rgb(156, 236, 251), rgb(101, 199, 247), rgb(0, 82, 212));}
.GP-0112	{background: url(../shop_patterns/P-112.png), 	linear-gradient(rgb(219, 230, 246), rgb(197, 121, 109));}
.GP-0113	{background: url(../shop_patterns/P-113.png), 	linear-gradient(rgb(52, 148, 230), rgb(236, 110, 173));}
.GP-0114	{background: url(../shop_patterns/P-114.png), 	linear-gradient(rgb(103, 178, 111), rgb(76, 162, 205));}
.GP-0115	{background: url(../shop_patterns/P-115.png), 	linear-gradient(rgb(243, 144, 79), rgb(59, 67, 113));}
.GP-0116	{background: url(../shop_patterns/P-116.png), 	linear-gradient(rgb(238, 9, 121), rgb(255, 106, 0));}
.GP-0117	{background: url(../shop_patterns/P-117.png), 	linear-gradient(rgb(167, 112, 239), rgb(207, 139, 243), rgb(253, 185, 155));}
.GP-0118	{background: url(../shop_patterns/P-118.png), 	linear-gradient(rgb(65, 41, 90), rgb(47, 7, 67));}
.GP-0119	{background: url(../shop_patterns/P-119.png), 	linear-gradient(rgb(244, 196, 243), rgb(252, 103, 250));}
.GP-0120	{background: url(../shop_patterns/P-120.png), 	linear-gradient(rgb(0, 195, 255), rgb(255, 255, 28));}
.GP-0121	{background: url(../shop_patterns/P-121.png), 	linear-gradient(rgb(255, 126, 95), rgb(254, 180, 123));}
.GP-0122	{background: url(../shop_patterns/P-122.png), 	linear-gradient(rgb(255, 252, 0), rgb(255, 255, 255));}
.GP-0123	{background: url(../shop_patterns/P-001.png), 	linear-gradient(rgb(255, 0, 204), rgb(51, 51, 153));}
.GP-0124	{background: url(../shop_patterns/P-002.png), 	linear-gradient(rgb(222, 97, 97), rgb(38, 87, 235));}
.GP-0125	{background: url(../shop_patterns/P-003.png), 	linear-gradient(rgb(239, 50, 217), rgb(137, 255, 253));}
.GP-0126	{background: url(../shop_patterns/P-004.png), 	linear-gradient(rgb(58, 97, 134), rgb(137, 37, 62));}
.GP-0127	{background: url(../shop_patterns/P-005.png), 	linear-gradient(rgb(78, 205, 196), rgb(85, 98, 112));}
.GP-0128	{background: url(../shop_patterns/P-006.png), 	linear-gradient(rgb(161, 255, 206), rgb(250, 255, 209));}
.GP-0129	{background: url(../shop_patterns/P-007.png), 	linear-gradient(rgb(190, 147, 197), rgb(123, 198, 204));}
.GP-0130	{background: url(../shop_patterns/P-008.png), 	linear-gradient(rgb(189, 195, 199), rgb(44, 62, 80));}
.GP-0131	{background: url(../shop_patterns/P-009.png), 	linear-gradient(rgb(255, 216, 155), rgb(25, 84, 123));}
.GP-0132	{background: url(../shop_patterns/P-010.png), 	linear-gradient(rgb(128, 128, 128), rgb(63, 173, 168));}
.GP-0133	{background: url(../shop_patterns/P-011.png), 	linear-gradient(rgb(252, 234, 187), rgb(248, 181, 0));}
.GP-0134	{background: url(../shop_patterns/P-012.png), 	linear-gradient(rgb(248, 80, 50), rgb(231, 56, 39));}
.GP-0135	{background: url(../shop_patterns/P-013.png), 	linear-gradient(rgb(247, 157, 0), rgb(100, 243, 140));}
.GP-0136	{background: url(../shop_patterns/P-014.png), 	linear-gradient(rgb(203, 45, 62), rgb(239, 71, 58));}
.GP-0137	{background: url(../shop_patterns/P-015.png), 	linear-gradient(rgb(86, 171, 47), rgb(168, 224, 99));}
.GP-0138	{background: url(../shop_patterns/P-016.png), 	linear-gradient(rgb(0, 4, 40), rgb(0, 78, 146));}
.GP-0139	{background: url(../shop_patterns/P-017.png), 	linear-gradient(rgb(66, 39, 90), rgb(115, 75, 109));}
.GP-0140	{background: url(../shop_patterns/P-018.png), 	linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));}
.GP-0141	{background: url(../shop_patterns/P-019.png), 	linear-gradient(rgb(240, 0, 0), rgb(220, 40, 30));}
.GP-0142	{background: url(../shop_patterns/P-020.png), 	linear-gradient(rgb(44, 62, 80), rgb(253, 116, 108));}
.GP-0143	{background: url(../shop_patterns/P-021.png), 	linear-gradient(rgb(44, 62, 80), rgb(76, 161, 175));}
.GP-0144	{background: url(../shop_patterns/P-022.png), 	linear-gradient(rgb(233, 100, 67), rgb(144, 78, 149));}
.GP-0145	{background: url(../shop_patterns/P-023.png), 	linear-gradient(rgb(11, 72, 107), rgb(245, 98, 23));}
.GP-0146	{background: url(../shop_patterns/P-024.png), 	linear-gradient(rgb(58, 123, 213), rgb(58, 96, 115));}
.GP-0147	{background: url(../shop_patterns/P-025.png), 	linear-gradient(rgb(0, 210, 255), rgb(146, 141, 171));}
.GP-0148	{background: url(../shop_patterns/P-026.png), 	linear-gradient(rgb(33, 150, 243), rgb(244, 67, 54));}
.GP-0149	{background: url(../shop_patterns/P-027.png), 	linear-gradient(rgb(255, 95, 109), rgb(255, 195, 113));}
.GP-0150	{background: url(../shop_patterns/P-028.png), 	linear-gradient(rgb(255, 75, 31), rgb(255, 144, 104));}
.GP-0151	{background: url(../shop_patterns/P-029.png), 	linear-gradient(rgb(22, 191, 253), rgb(203, 48, 102));}
.GP-0152	{background: url(../shop_patterns/P-030.png), 	linear-gradient(rgb(238, 205, 163), rgb(239, 98, 159));}
.GP-0153	{background: url(../shop_patterns/P-031.png), 	linear-gradient(rgb(29, 67, 80), rgb(164, 57, 49));}
.GP-0154	{background: url(../shop_patterns/P-032.png), 	linear-gradient(rgb(168, 0, 119), rgb(102, 255, 0));}
.GP-0155	{background: url(../shop_patterns/P-033.png), 	linear-gradient(rgb(247, 255, 0), rgb(219, 54, 164));}
.GP-0156	{background: url(../shop_patterns/P-034.png), 	linear-gradient(rgb(255, 75, 31), rgb(31, 221, 255));}
.GP-0157	{background: url(../shop_patterns/P-035.png), 	linear-gradient(rgb(186, 83, 112), rgb(244, 226, 216));}
.GP-0158	{background: url(../shop_patterns/P-036.png), 	linear-gradient(rgb(224, 234, 252), rgb(207, 222, 243));}
.GP-0159	{background: url(../shop_patterns/P-037.png), 	linear-gradient(rgb(76, 161, 175), rgb(196, 224, 229));}
.GP-0160	{background: url(../shop_patterns/P-038.png), 	linear-gradient(rgb(0, 0, 0), rgb(67, 67, 67));}
.GP-0161	{background: url(../shop_patterns/P-039.png), 	linear-gradient(rgb(75, 121, 161), rgb(40, 62, 81));}
.GP-0162	{background: url(../shop_patterns/P-040.png), 	linear-gradient(rgb(131, 77, 155), rgb(208, 78, 214));}
.GP-0163	{background: url(../shop_patterns/P-041.png), 	linear-gradient(rgb(0, 153, 247), rgb(241, 23, 18));}
.GP-0164	{background: url(../shop_patterns/P-042.png), 	linear-gradient(rgb(41, 128, 185), rgb(44, 62, 80));}
.GP-0165	{background: url(../shop_patterns/P-043.png), 	linear-gradient(rgb(90, 63, 55), rgb(44, 119, 68));}
.GP-0166	{background: url(../shop_patterns/P-044.png), 	linear-gradient(rgb(77, 160, 176), rgb(211, 157, 56));}
.GP-0167	{background: url(../shop_patterns/P-045.png), 	linear-gradient(rgb(86, 20, 176), rgb(219, 214, 92));}
.GP-0168	{background: url(../shop_patterns/P-046.png), 	linear-gradient(rgb(47, 115, 54), rgb(170, 58, 56));}
.GP-0169	{background: url(../shop_patterns/P-047.png), 	linear-gradient(rgb(30, 60, 114), rgb(42, 82, 152));}
.GP-0170	{background: url(../shop_patterns/P-048.png), 	linear-gradient(rgb(17, 67, 87), rgb(242, 148, 146));}
.GP-0171	{background: url(../shop_patterns/P-049.png), 	linear-gradient(rgb(253, 116, 108), rgb(255, 144, 104));}
.GP-0172	{background: url(../shop_patterns/P-050.png), 	linear-gradient(rgb(234, 205, 163), rgb(214, 174, 123));}
.GP-0173	{background: url(../shop_patterns/P-051.png), 	linear-gradient(rgb(106, 48, 147), rgb(160, 68, 255));}
.GP-0174	{background: url(../shop_patterns/P-052.png), 	linear-gradient(rgb(69, 127, 202), rgb(86, 145, 200));}
.GP-0175	{background: url(../shop_patterns/P-053.png), 	linear-gradient(rgb(178, 69, 146), rgb(241, 95, 121));}
.GP-0176	{background: url(../shop_patterns/P-054.png), 	linear-gradient(rgb(192, 36, 37), rgb(240, 203, 53));}
.GP-0177	{background: url(../shop_patterns/P-055.png), 	linear-gradient(rgb(64, 58, 62), rgb(190, 88, 105));}
.GP-0178	{background: url(../shop_patterns/P-056.png), 	linear-gradient(rgb(194, 229, 156), rgb(100, 179, 244));}
.GP-0179	{background: url(../shop_patterns/P-057.png), 	linear-gradient(rgb(255, 183, 94), rgb(237, 143, 3));}
.GP-0180	{background: url(../shop_patterns/P-058.png), 	linear-gradient(rgb(142, 14, 0), rgb(31, 28, 24));}
.GP-0181	{background: url(../shop_patterns/P-059.png), 	linear-gradient(rgb(118, 184, 82), rgb(141, 194, 111));}
.GP-0182	{background: url(../shop_patterns/P-060.png), 	linear-gradient(rgb(103, 58, 183), rgb(81, 45, 168));}
.GP-0183	{background: url(../shop_patterns/P-061.png), 	linear-gradient(rgb(0, 201, 255), rgb(146, 254, 157));}
.GP-0184	{background: url(../shop_patterns/P-062.png), 	linear-gradient(rgb(244, 107, 69), rgb(238, 168, 73));}
.GP-0185	{background: url(../shop_patterns/P-063.png), 	linear-gradient(rgb(0, 92, 151), rgb(54, 55, 149));}
.GP-0186	{background: url(../shop_patterns/P-064.png), 	linear-gradient(rgb(229, 57, 53), rgb(227, 93, 91));}
.GP-0187	{background: url(../shop_patterns/P-065.png), 	linear-gradient(rgb(252, 0, 255), rgb(0, 219, 222));}
.GP-0188	{background: url(../shop_patterns/P-066.png), 	linear-gradient(rgb(44, 62, 80), rgb(52, 152, 219));}
.GP-0189	{background: url(../shop_patterns/P-067.png), 	linear-gradient(rgb(204, 204, 178), rgb(117, 117, 25));}
.GP-0190	{background: url(../shop_patterns/P-068.png), 	linear-gradient(rgb(48, 67, 82), rgb(215, 210, 204));}
.GP-0191	{background: url(../shop_patterns/P-069.png), 	linear-gradient(rgb(238, 156, 167), rgb(255, 221, 225));}
.GP-0192	{background: url(../shop_patterns/P-070.png), 	linear-gradient(rgb(186, 139, 2), rgb(24, 24, 24));}
.GP-0193	{background: url(../shop_patterns/P-071.png), 	linear-gradient(rgb(82, 82, 82), rgb(61, 114, 180));}
.GP-0194	{background: url(../shop_patterns/P-072.png), 	linear-gradient(rgb(0, 79, 249), rgb(255, 249, 76));}
.GP-0195	{background: url(../shop_patterns/P-073.png), 	linear-gradient(rgb(106, 145, 19), rgb(20, 21, 23));}
.GP-0196	{background: url(../shop_patterns/P-074.png), 	linear-gradient(rgb(241, 242, 181), rgb(19, 80, 88));}
.GP-0197	{background: url(../shop_patterns/P-075.png), 	linear-gradient(rgb(209, 145, 60), rgb(255, 209, 148));}
.GP-0198	{background: url(../shop_patterns/P-076.png), 	linear-gradient(rgb(123, 67, 151), rgb(220, 36, 48));}
.GP-0199	{background: url(../shop_patterns/P-077.png), 	linear-gradient(rgb(142, 158, 171), rgb(238, 242, 243));}
.GP-0200	{background: url(../shop_patterns/P-078.png), 	linear-gradient(rgb(19, 106, 138), rgb(38, 120, 113));}
.GP-0201	{background: url(../shop_patterns/P-079.png), 	linear-gradient(rgb(0, 191, 143), rgb(0, 21, 16));}
.GP-0202	{background: url(../shop_patterns/P-080.png), 	linear-gradient(rgb(255, 0, 132), rgb(51, 0, 27));}
.GP-0203	{background: url(../shop_patterns/P-081.png), 	linear-gradient(rgb(131, 58, 180), rgb(253, 29, 29), rgb(252, 176, 69));}
.GP-0204	{background: url(../shop_patterns/P-082.png), 	linear-gradient(rgb(254, 172, 94), rgb(199, 121, 208), rgb(75, 192, 200));}
.GP-0205	{background: url(../shop_patterns/P-083.png), 	linear-gradient(rgb(100, 65, 165), rgb(42, 8, 69));}
.GP-0206	{background: url(../shop_patterns/P-084.png), 	linear-gradient(rgb(255, 179, 71), rgb(255, 204, 51));}
.GP-0207	{background: url(../shop_patterns/P-085.png), 	linear-gradient(rgb(67, 206, 162), rgb(24, 90, 157));}
.GP-0208	{background: url(../shop_patterns/P-086.png), 	linear-gradient(rgb(255, 161, 127), rgb(0, 34, 62));}
.GP-0209	{background: url(../shop_patterns/P-087.png), 	linear-gradient(rgb(54, 0, 51), rgb(11, 135, 147));}
.GP-0210	{background: url(../shop_patterns/P-088.png), 	linear-gradient(rgb(148, 142, 153), rgb(46, 20, 55));}
.GP-0211	{background: url(../shop_patterns/P-089.png), 	linear-gradient(rgb(30, 19, 12), rgb(154, 132, 120));}
.GP-0212	{background: url(../shop_patterns/P-090.png), 	linear-gradient(rgb(211, 131, 18), rgb(168, 50, 121));}
.GP-0213	{background: url(../shop_patterns/P-091.png), 	linear-gradient(rgb(115, 200, 169), rgb(55, 59, 68));}
.GP-0214	{background: url(../shop_patterns/P-092.png), 	linear-gradient(rgb(171, 186, 171), rgb(255, 255, 255));}
.GP-0215	{background: url(../shop_patterns/P-093.png), 	linear-gradient(rgb(253, 252, 71), rgb(36, 254, 65));}
.GP-0216	{background: url(../shop_patterns/P-094.png), 	linear-gradient(rgb(131, 164, 212), rgb(182, 251, 255));}
.GP-0217	{background: url(../shop_patterns/P-095.png), 	linear-gradient(rgb(72, 85, 99), rgb(41, 50, 60));}
.GP-0218	{background: url(../shop_patterns/P-096.png), 	linear-gradient(rgb(82, 194, 52), rgb(6, 23, 0));}
.GP-0219	{background: url(../shop_patterns/P-097.png), 	linear-gradient(rgb(254, 140, 0), rgb(248, 54, 0));}
.GP-0220	{background: url(../shop_patterns/P-098.png), 	linear-gradient(rgb(0, 198, 255), rgb(0, 114, 255));}
.GP-0221	{background: url(../shop_patterns/P-099.png), 	linear-gradient(rgb(112, 225, 245), rgb(255, 209, 148));}
.GP-0222	{background: url(../shop_patterns/P-100.png), 	linear-gradient(rgb(85, 98, 112), rgb(255, 107, 107));}
.GP-0223	{background: url(../shop_patterns/P-101.png), 	linear-gradient(rgb(157, 80, 187), rgb(110, 72, 170));}
.GP-0224	{background: url(../shop_patterns/P-102.png), 	linear-gradient(rgb(120, 2, 6), rgb(6, 17, 97));}
.GP-0225	{background: url(../shop_patterns/P-103.png), 	linear-gradient(rgb(179, 255, 171), rgb(18, 255, 247));}
.GP-0226	{background: url(../shop_patterns/P-104.png), 	linear-gradient(rgb(170, 255, 169), rgb(17, 255, 189));}
.GP-0227	{background: url(../shop_patterns/P-105.png), 	linear-gradient(rgb(0, 0, 0), rgb(231, 76, 60));}
.GP-0228	{background: url(../shop_patterns/P-106.png), 	linear-gradient(rgb(240, 194, 123), rgb(75, 18, 72));}
.GP-0229	{background: url(../shop_patterns/P-107.png), 	linear-gradient(rgb(255, 78, 80), rgb(249, 212, 35));}
.GP-0230	{background: url(../shop_patterns/P-108.png), 	linear-gradient(rgb(173, 209, 0), rgb(123, 146, 10));}
.GP-0231	{background: url(../shop_patterns/P-109.png), 	linear-gradient(rgb(251, 211, 233), rgb(187, 55, 125));}
.GP-0232	{background: url(../shop_patterns/P-110.png), 	linear-gradient(rgb(96, 108, 136), rgb(63, 76, 107));}
.GP-0233	{background: url(../shop_patterns/P-111.png), 	linear-gradient(rgb(201, 255, 191), rgb(255, 175, 189));}
.GP-0234	{background: url(../shop_patterns/P-112.png), 	linear-gradient(rgb(100, 145, 115), rgb(219, 213, 164));}
.GP-0235	{background: url(../shop_patterns/P-113.png), 	linear-gradient(rgb(185, 147, 214), rgb(140, 166, 219));}
.GP-0236	{background: url(../shop_patterns/P-114.png), 	linear-gradient(rgb(135, 0, 0), rgb(25, 10, 5));}
.GP-0237	{background: url(../shop_patterns/P-115.png), 	linear-gradient(rgb(0, 210, 255), rgb(58, 123, 213));}
.GP-0238	{background: url(../shop_patterns/P-116.png), 	linear-gradient(rgb(211, 149, 155), rgb(191, 230, 186));}
.GP-0239	{background: url(../shop_patterns/P-117.png), 	linear-gradient(rgb(218, 210, 153), rgb(176, 218, 185));}
.GP-0240	{background: url(../shop_patterns/P-118.png), 	linear-gradient(rgb(242, 112, 156), rgb(255, 148, 114));}
.GP-0241	{background: url(../shop_patterns/P-119.png), 	linear-gradient(rgb(230, 218, 218), rgb(39, 64, 70));}
.GP-0242	{background: url(../shop_patterns/P-120.png), 	linear-gradient(rgb(93, 65, 87), rgb(168, 202, 186));}
.GP-0243	{background: url(../shop_patterns/P-121.png), 	linear-gradient(rgb(221, 214, 243), rgb(250, 172, 168));}
.GP-0244	{background: url(../shop_patterns/P-122.png), 	linear-gradient(rgb(97, 97, 97), rgb(155, 197, 195));}
.GP-0245	{background: url(../shop_patterns/P-001.png), 	linear-gradient(rgb(80, 201, 195), rgb(150, 222, 218));}
.GP-0246	{background: url(../shop_patterns/P-002.png), 	linear-gradient(rgb(33, 95, 0), rgb(228, 228, 217));}
.GP-0247	{background: url(../shop_patterns/P-003.png), 	linear-gradient(rgb(194, 21, 0), rgb(255, 197, 0));}
.GP-0248	{background: url(../shop_patterns/P-004.png), 	linear-gradient(rgb(239, 239, 187), rgb(212, 211, 221));}
.GP-0249	{background: url(../shop_patterns/P-005.png), 	linear-gradient(rgb(255, 238, 238), rgb(221, 239, 187));}
.GP-0250	{background: url(../shop_patterns/P-006.png), 	linear-gradient(rgb(102, 102, 0), rgb(153, 153, 102));}
.GP-0251	{background: url(../shop_patterns/P-007.png), 	linear-gradient(rgb(222, 98, 98), rgb(255, 184, 140));}
.GP-0252	{background: url(../shop_patterns/P-008.png), 	linear-gradient(rgb(233, 211, 98), rgb(51, 51, 51));}
.GP-0253	{background: url(../shop_patterns/P-009.png), 	linear-gradient(rgb(213, 51, 105), rgb(203, 173, 109));}
.GP-0254	{background: url(../shop_patterns/P-010.png), 	linear-gradient(rgb(167, 55, 55), rgb(122, 40, 40));}
.GP-0255	{background: url(../shop_patterns/P-011.png), 	linear-gradient(rgb(248, 87, 166), rgb(255, 88, 88));}
.GP-0256	{background: url(../shop_patterns/P-012.png), 	linear-gradient(rgb(75, 108, 183), rgb(24, 40, 72));}
.GP-0257	{background: url(../shop_patterns/P-013.png), 	linear-gradient(rgb(252, 53, 76), rgb(10, 191, 188));}
.GP-0258	{background: url(../shop_patterns/P-014.png), 	linear-gradient(rgb(65, 77, 11), rgb(114, 122, 23));}
.GP-0259	{background: url(../shop_patterns/P-015.png), 	linear-gradient(rgb(228, 58, 21), rgb(230, 82, 69));}
.GP-0260	{background: url(../shop_patterns/P-016.png), 	linear-gradient(rgb(192, 72, 72), rgb(72, 0, 72));}
.GP-0261	{background: url(../shop_patterns/P-017.png), 	linear-gradient(rgb(95, 44, 130), rgb(73, 160, 157));}
.GP-0262	{background: url(../shop_patterns/P-018.png), 	linear-gradient(rgb(236, 111, 102), rgb(243, 161, 131));}
.GP-0263	{background: url(../shop_patterns/P-019.png), 	linear-gradient(rgb(116, 116, 191), rgb(52, 138, 199));}
.GP-0264	{background: url(../shop_patterns/P-020.png), 	linear-gradient(rgb(236, 233, 230), rgb(255, 255, 255));}
.GP-0265	{background: url(../shop_patterns/P-021.png), 	linear-gradient(rgb(218, 226, 248), rgb(214, 164, 164));}
.GP-0266	{background: url(../shop_patterns/P-022.png), 	linear-gradient(rgb(237, 66, 100), rgb(255, 237, 188));}
.GP-0267	{background: url(../shop_patterns/P-023.png), 	linear-gradient(rgb(220, 36, 36), rgb(74, 86, 157));}
.GP-0268	{background: url(../shop_patterns/P-024.png), 	linear-gradient(rgb(36, 198, 220), rgb(81, 74, 157));}
.GP-0269	{background: url(../shop_patterns/P-025.png), 	linear-gradient(rgb(40, 48, 72), rgb(133, 147, 152));}
.GP-0270	{background: url(../shop_patterns/P-026.png), 	linear-gradient(rgb(61, 126, 170), rgb(255, 228, 122));}
.GP-0271	{background: url(../shop_patterns/P-027.png), 	linear-gradient(rgb(28, 216, 210), rgb(147, 237, 199));}
.GP-0272	{background: url(../shop_patterns/P-028.png), 	linear-gradient(rgb(35, 37, 38), rgb(65, 67, 69));}
.GP-0273	{background: url(../shop_patterns/P-029.png), 	linear-gradient(rgb(117, 127, 154), rgb(215, 221, 232));}
.GP-0274	{background: url(../shop_patterns/P-030.png), 	linear-gradient(rgb(92, 37, 141), rgb(67, 137, 162));}
.GP-0275	{background: url(../shop_patterns/P-031.png), 	linear-gradient(rgb(19, 78, 94), rgb(113, 178, 128));}
.GP-0276	{background: url(../shop_patterns/P-032.png), 	linear-gradient(rgb(43, 192, 228), rgb(234, 236, 198));}
.GP-0277	{background: url(../shop_patterns/P-033.png), 	linear-gradient(rgb(8, 80, 120), rgb(133, 216, 206));}
.GP-0278	{background: url(../shop_patterns/P-034.png), 	linear-gradient(rgb(71, 118, 230), rgb(142, 84, 233));}
.GP-0279	{background: url(../shop_patterns/P-035.png), 	linear-gradient(rgb(97, 67, 133), rgb(81, 99, 149));}
.GP-0280	{background: url(../shop_patterns/P-036.png), 	linear-gradient(rgb(31, 28, 44), rgb(146, 141, 171));}
.GP-0281	{background: url(../shop_patterns/P-037.png), 	linear-gradient(rgb(22, 34, 42), rgb(58, 96, 115));}
.GP-0282	{background: url(../shop_patterns/P-038.png), 	linear-gradient(rgb(255, 128, 8), rgb(255, 200, 55));}
.GP-0283	{background: url(../shop_patterns/P-039.png), 	linear-gradient(rgb(29, 151, 108), rgb(147, 249, 185));}
.GP-0284	{background: url(../shop_patterns/P-040.png), 	linear-gradient(rgb(235, 51, 73), rgb(244, 92, 67));}
.GP-0285	{background: url(../shop_patterns/P-041.png), 	linear-gradient(rgb(221, 94, 137), rgb(247, 187, 151));}
.GP-0286	{background: url(../shop_patterns/P-042.png), 	linear-gradient(rgb(76, 184, 196), rgb(60, 211, 173));}
.GP-0287	{background: url(../shop_patterns/P-043.png), 	linear-gradient(rgb(31, 162, 255), rgb(18, 216, 250), rgb(166, 255, 203));}
.GP-0288	{background: url(../shop_patterns/P-044.png), 	linear-gradient(rgb(29, 43, 100), rgb(248, 205, 218));}
.GP-0289	{background: url(../shop_patterns/P-045.png), 	linear-gradient(rgb(255, 81, 47), rgb(240, 152, 25));}
.GP-0290	{background: url(../shop_patterns/P-046.png), 	linear-gradient(rgb(26, 41, 128), rgb(38, 208, 206));}
.GP-0291	{background: url(../shop_patterns/P-047.png), 	linear-gradient(rgb(170, 7, 107), rgb(97, 4, 95));}
.GP-0292	{background: url(../shop_patterns/P-048.png), 	linear-gradient(rgb(255, 81, 47), rgb(221, 36, 118));}
.GP-0293	{background: url(../shop_patterns/P-049.png), 	linear-gradient(rgb(240, 152, 25), rgb(237, 222, 93));}
.GP-0294	{background: url(../shop_patterns/P-050.png), 	linear-gradient(rgb(64, 59, 74), rgb(231, 233, 187));}
.GP-0295	{background: url(../shop_patterns/P-051.png), 	linear-gradient(rgb(229, 93, 135), rgb(95, 195, 228));}
.GP-0296	{background: url(../shop_patterns/P-052.png), 	linear-gradient(rgb(0, 57, 115), rgb(229, 229, 190));}
.GP-0297	{background: url(../shop_patterns/P-053.png), 	linear-gradient(rgb(204, 149, 192), rgb(219, 212, 180), rgb(122, 161, 210));}
.GP-0298	{background: url(../shop_patterns/P-054.png), 	linear-gradient(rgb(60, 165, 92), rgb(181, 172, 73));}
.GP-0299	{background: url(../shop_patterns/P-055.png), 	linear-gradient(rgb(52, 143, 80), rgb(86, 180, 211));}
.GP-0300	{background: url(../shop_patterns/P-056.png), 	linear-gradient(rgb(218, 34, 255), rgb(151, 51, 238));}
.GP-0301	{background: url(../shop_patterns/P-057.png), 	linear-gradient(rgb(2, 170, 176), rgb(0, 205, 172));}
.GP-0302	{background: url(../shop_patterns/P-058.png), 	linear-gradient(rgb(237, 229, 116), rgb(225, 245, 196));}
.GP-0303	{background: url(../shop_patterns/P-059.png), 	linear-gradient(rgb(211, 16, 39), rgb(234, 56, 77));}
.GP-0304	{background: url(../shop_patterns/P-060.png), 	linear-gradient(rgb(22, 160, 133), rgb(244, 208, 63));}
.GP-0305	{background: url(../shop_patterns/P-061.png), 	linear-gradient(rgb(96, 56, 19), rgb(178, 159, 148));}
.GP-0306	{background: url(../shop_patterns/P-062.png), 	linear-gradient(rgb(229, 45, 39), rgb(179, 18, 23));}
.GP-0307	{background: url(../shop_patterns/P-063.png), 	linear-gradient(rgb(255, 110, 127), rgb(191, 233, 255));}
.GP-0308	{background: url(../shop_patterns/P-064.png), 	linear-gradient(rgb(119, 161, 211), rgb(121, 203, 202), rgb(230, 132, 174));}
.GP-0309	{background: url(../shop_patterns/P-065.png), 	linear-gradient(rgb(49, 71, 85), rgb(38, 160, 218));}
.GP-0310	{background: url(../shop_patterns/P-066.png), 	linear-gradient(rgb(43, 88, 118), rgb(78, 67, 118));}
.GP-0311	{background: url(../shop_patterns/P-067.png), 	linear-gradient(rgb(230, 92, 0), rgb(249, 212, 35));}
.GP-0312	{background: url(../shop_patterns/P-068.png), 	linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));}
.GP-0313	{background: url(../shop_patterns/P-069.png), 	linear-gradient(rgb(204, 43, 94), rgb(117, 58, 136));}
.GP-0314	{background: url(../shop_patterns/P-070.png), 	linear-gradient(rgb(236, 0, 140), rgb(252, 103, 103));}
.GP-0315	{background: url(../shop_patterns/P-071.png), 	linear-gradient(rgb(20, 136, 204), rgb(43, 50, 178));}
.GP-0316	{background: url(../shop_patterns/P-072.png), 	linear-gradient(rgb(0, 70, 127), rgb(165, 204, 130));}
.GP-0317	{background: url(../shop_patterns/P-073.png), 	linear-gradient(rgb(7, 101, 133), rgb(255, 255, 255));}
.GP-0318	{background: url(../shop_patterns/P-074.png), 	linear-gradient(rgb(187, 210, 197), rgb(83, 105, 118));}
.GP-0319	{background: url(../shop_patterns/P-075.png), 	linear-gradient(rgb(151, 150, 240), rgb(251, 199, 212));}
.GP-0320	{background: url(../shop_patterns/P-076.png), 	linear-gradient(rgb(183, 152, 145), rgb(148, 113, 107));}
.GP-0321	{background: url(../shop_patterns/P-077.png), 	linear-gradient(rgb(187, 210, 197), rgb(83, 105, 118), rgb(41, 46, 73));}
.GP-0322	{background: url(../shop_patterns/P-078.png), 	linear-gradient(rgb(83, 105, 118), rgb(41, 46, 73));}
.GP-0323	{background: url(../shop_patterns/P-079.png), 	linear-gradient(rgb(172, 182, 229), rgb(134, 253, 232));}
.GP-0324	{background: url(../shop_patterns/P-080.png), 	linear-gradient(rgb(255, 224, 0), rgb(121, 159, 12));}
.GP-0325	{background: url(../shop_patterns/P-081.png), 	linear-gradient(rgb(0, 65, 106), rgb(228, 229, 230));}
.GP-0326	{background: url(../shop_patterns/P-082.png), 	linear-gradient(rgb(255, 226, 89), rgb(255, 167, 81));}
.GP-0327	{background: url(../shop_patterns/P-083.png), 	linear-gradient(rgb(121, 159, 12), rgb(172, 187, 120));}
.GP-0328	{background: url(../shop_patterns/P-084.png), 	linear-gradient(rgb(84, 51, 255), rgb(32, 189, 255), rgb(165, 254, 203));}
.GP-0329	{background: url(../shop_patterns/P-085.png), 	linear-gradient(rgb(0, 82, 212), rgb(67, 100, 247), rgb(111, 177, 252));}
.GP-0330	{background: url(../shop_patterns/P-086.png), 	linear-gradient(rgb(51, 77, 80), rgb(203, 202, 165));}
.GP-0331	{background: url(../shop_patterns/P-087.png), 	linear-gradient(rgb(0, 65, 106), rgb(121, 159, 12), rgb(255, 224, 0));}
.GP-0332	{background: url(../shop_patterns/P-088.png), 	linear-gradient(rgb(247, 248, 248), rgb(172, 187, 120));}
.GP-0333	{background: url(../shop_patterns/P-089.png), 	linear-gradient(rgb(255, 224, 0), rgb(121, 159, 12));}
.GP-0334	{background: url(../shop_patterns/P-090.png), 	linear-gradient(rgb(0, 65, 106), rgb(228, 229, 230));}
.GP-0335	{background: url(../shop_patterns/P-091.png), 	linear-gradient(rgb(253, 235, 113) 10%, rgb(248, 216, 0) 100%);}
.GP-0336	{background: url(../shop_patterns/P-092.png), 	linear-gradient(rgb(171, 220, 255) 10%, rgb(3, 150, 255) 100%);}
.GP-0337	{background: url(../shop_patterns/P-093.png), 	linear-gradient(rgb(254, 182, 146) 10%, rgb(234, 84, 85) 100%);}
.GP-0338	{background: url(../shop_patterns/P-094.png), 	linear-gradient(rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);}
.GP-0339	{background: url(../shop_patterns/P-095.png), 	linear-gradient(rgb(144, 247, 236) 10%, rgb(50, 204, 188) 100%);}
.GP-0340	{background: url(../shop_patterns/P-096.png), 	linear-gradient(rgb(255, 246, 183) 10%, rgb(246, 65, 108) 100%);}
.GP-0341	{background: url(../shop_patterns/P-097.png), 	linear-gradient(rgb(129, 251, 184) 10%, rgb(40, 199, 111) 100%);}
.GP-0342	{background: url(../shop_patterns/P-098.png), 	linear-gradient(rgb(226, 176, 255) 10%, rgb(159, 68, 211) 100%);}
.GP-0343	{background: url(../shop_patterns/P-099.png), 	linear-gradient(rgb(249, 119, 148) 10%, rgb(98, 58, 162) 100%);}
.GP-0344	{background: url(../shop_patterns/P-100.png), 	linear-gradient(rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);}
.GP-0345	{background: url(../shop_patterns/P-101.png), 	linear-gradient(rgb(247, 97, 161) 10%, rgb(140, 27, 171) 100%);}
.GP-0346	{background: url(../shop_patterns/P-102.png), 	linear-gradient(rgb(67, 203, 255) 10%, rgb(151, 8, 204) 100%);}
.GP-0347	{background: url(../shop_patterns/P-103.png), 	linear-gradient(rgb(94, 252, 232) 10%, rgb(115, 110, 254) 100%);}
.GP-0348	{background: url(../shop_patterns/P-104.png), 	linear-gradient(rgb(250, 215, 161) 10%, rgb(233, 109, 113) 100%);}
.GP-0349	{background: url(../shop_patterns/P-105.png), 	linear-gradient(rgb(255, 210, 111) 10%, rgb(54, 119, 255) 100%);}
.GP-0350	{background: url(../shop_patterns/P-106.png), 	linear-gradient(rgb(160, 254, 101) 10%, rgb(250, 1, 109) 100%);}
.GP-0351	{background: url(../shop_patterns/P-107.png), 	linear-gradient(rgb(255, 219, 1) 10%, rgb(14, 25, 125) 100%);}
.GP-0352	{background: url(../shop_patterns/P-108.png), 	linear-gradient(rgb(254, 193, 99) 10%, rgb(222, 67, 19) 100%);}
.GP-0353	{background: url(../shop_patterns/P-109.png), 	linear-gradient(rgb(146, 255, 192) 10%, rgb(0, 38, 97) 100%);}
.GP-0354	{background: url(../shop_patterns/P-110.png), 	linear-gradient(rgb(238, 173, 146) 10%, rgb(96, 24, 220) 100%);}
.GP-0355	{background: url(../shop_patterns/P-111.png), 	linear-gradient(rgb(246, 206, 236) 10%, rgb(217, 57, 205) 100%);}
.GP-0356	{background: url(../shop_patterns/P-112.png), 	linear-gradient(rgb(82, 229, 231) 10%, rgb(19, 12, 183) 100%);}
.GP-0357	{background: url(../shop_patterns/P-113.png), 	linear-gradient(rgb(241, 202, 116) 10%, rgb(166, 77, 182) 100%);}
.GP-0358	{background: url(../shop_patterns/P-114.png), 	linear-gradient(rgb(232, 208, 122) 10%, rgb(83, 18, 214) 100%);}
.GP-0359	{background: url(../shop_patterns/P-115.png), 	linear-gradient(rgb(238, 206, 19) 10%, rgb(178, 16, 255) 100%);}
.GP-0360	{background: url(../shop_patterns/P-116.png), 	linear-gradient(rgb(121, 241, 164) 10%, rgb(14, 92, 173) 100%);}
.GP-0361	{background: url(../shop_patterns/P-117.png), 	linear-gradient(rgb(253, 216, 25) 10%, rgb(232, 5, 5) 100%);}
.GP-0362	{background: url(../shop_patterns/P-118.png), 	linear-gradient(rgb(255, 243, 176) 10%, rgb(202, 38, 255) 100%);}
.GP-0363	{background: url(../shop_patterns/P-119.png), 	linear-gradient(rgb(255, 245, 195) 10%, rgb(148, 82, 165) 100%);}
.GP-0364	{background: url(../shop_patterns/P-120.png), 	linear-gradient(rgb(240, 95, 87) 10%, rgb(54, 9, 64) 100%);}
.GP-0365	{background: url(../shop_patterns/P-121.png), 	linear-gradient(rgb(42, 250, 223) 10%, rgb(76, 131, 255) 100%);}
.GP-0366	{background: url(../shop_patterns/P-122.png), 	linear-gradient(rgb(255, 248, 134) 10%, rgb(240, 114, 182) 100%);}
.GP-0367	{background: url(../shop_patterns/P-001.png), 	linear-gradient(rgb(151, 171, 255) 10%, rgb(18, 53, 151) 100%);}
.GP-0368	{background: url(../shop_patterns/P-002.png), 	linear-gradient(rgb(245, 203, 255) 10%, rgb(195, 70, 194) 100%);}
.GP-0369	{background: url(../shop_patterns/P-003.png), 	linear-gradient(rgb(255, 247, 32) 10%, rgb(60, 213, 0) 100%);}
.GP-0370	{background: url(../shop_patterns/P-004.png), 	linear-gradient(rgb(255, 111, 216) 10%, rgb(56, 19, 194) 100%);}
.GP-0371	{background: url(../shop_patterns/P-005.png), 	linear-gradient(rgb(238, 154, 229) 10%, rgb(89, 97, 249) 100%);}
.GP-0372	{background: url(../shop_patterns/P-006.png), 	linear-gradient(rgb(255, 211, 165) 10%, rgb(253, 101, 133) 100%);}
.GP-0373	{background: url(../shop_patterns/P-007.png), 	linear-gradient(rgb(194, 255, 216) 10%, rgb(70, 94, 251) 100%);}
.GP-0374	{background: url(../shop_patterns/P-008.png), 	linear-gradient(rgb(253, 101, 133) 10%, rgb(13, 37, 185) 100%);}
.GP-0375	{background: url(../shop_patterns/P-009.png), 	linear-gradient(rgb(253, 110, 106) 10%, rgb(255, 198, 0) 100%);}
.GP-0376	{background: url(../shop_patterns/P-010.png), 	linear-gradient(rgb(101, 253, 240) 10%, rgb(29, 111, 163) 100%);}
.GP-0377	{background: url(../shop_patterns/P-011.png), 	linear-gradient(rgb(107, 115, 255) 10%, rgb(0, 13, 255) 100%);}
.GP-0378	{background: url(../shop_patterns/P-012.png), 	linear-gradient(rgb(255, 122, 245) 10%, rgb(81, 49, 98) 100%);}
.GP-0379	{background: url(../shop_patterns/P-013.png), 	linear-gradient(rgb(240, 255, 0) 10%, rgb(88, 207, 251) 100%);}
.GP-0380	{background: url(../shop_patterns/P-014.png), 	linear-gradient(rgb(255, 233, 133) 10%, rgb(250, 116, 43) 100%);}
.GP-0381	{background: url(../shop_patterns/P-015.png), 	linear-gradient(rgb(255, 166, 183) 10%, rgb(30, 42, 210) 100%);}
.GP-0382	{background: url(../shop_patterns/P-016.png), 	linear-gradient(rgb(255, 170, 133) 10%, rgb(179, 49, 95) 100%);}
.GP-0383	{background: url(../shop_patterns/P-017.png), 	linear-gradient(rgb(114, 237, 242) 10%, rgb(81, 81, 229) 100%);}
.GP-0384	{background: url(../shop_patterns/P-018.png), 	linear-gradient(rgb(255, 157, 108) 10%, rgb(187, 78, 117) 100%);}
.GP-0385	{background: url(../shop_patterns/P-019.png), 	linear-gradient(rgb(246, 210, 66) 10%, rgb(255, 82, 229) 100%);}
.GP-0386	{background: url(../shop_patterns/P-020.png), 	linear-gradient(rgb(105, 255, 151) 10%, rgb(0, 228, 255) 100%);}
.GP-0387	{background: url(../shop_patterns/P-021.png), 	linear-gradient(rgb(59, 38, 103) 10%, rgb(188, 120, 236) 100%);}
.GP-0388	{background: url(../shop_patterns/P-022.png), 	linear-gradient(rgb(112, 245, 112) 10%, rgb(73, 198, 40) 100%);}
.GP-0389	{background: url(../shop_patterns/P-023.png), 	linear-gradient(rgb(60, 140, 231) 10%, rgb(0, 234, 255) 100%);}
.GP-0390	{background: url(../shop_patterns/P-024.png), 	linear-gradient(rgb(250, 178, 255) 10%, rgb(25, 4, 229) 100%);}
.GP-0391	{background: url(../shop_patterns/P-025.png), 	linear-gradient(rgb(129, 255, 239) 10%, rgb(240, 103, 180) 100%);}
.GP-0392	{background: url(../shop_patterns/P-026.png), 	linear-gradient(rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);}
.GP-0393	{background: url(../shop_patterns/P-027.png), 	linear-gradient(rgb(255, 207, 113) 10%, rgb(35, 118, 221) 100%);}
.GP-0394	{background: url(../shop_patterns/P-028.png), 	linear-gradient(rgb(255, 150, 249) 10%, rgb(195, 43, 172) 100%);}
.GP-0395	{background: url(../shop_patterns/P-029.png), 	linear-gradient(#FAF7F5 0%,#E2D2C4 100%);}
.GP-0396	{background: url(../shop_patterns/P-030.png), 	linear-gradient(#E2EBEF 0%,#D0DAE0 100%);}
.GP-0397	{background: url(../shop_patterns/P-031.png), 	linear-gradient(#E9FFF7 0%,#D5F5FD 100%);}
.GP-0398	{background: url(../shop_patterns/P-032.png), 	linear-gradient(#F6F5F5 0%,#DCDCDC 100%);}
.GP-0399	{background: url(../shop_patterns/P-033.png), 	linear-gradient(#ECECEC 0%,#C3E5F8 100%);}
.GP-0400	{background: url(../shop_patterns/P-034.png), 	linear-gradient(#E7F4F5 0%,#4EF0FA 100%);}
.GP-0401	{background: url(../shop_patterns/P-035.png), 	linear-gradient(#F9E794 0%,#F6BED4 100%);}
.GP-0402	{background: url(../shop_patterns/P-036.png), 	linear-gradient(#FFECD2 0%,#FCB8A2 100%);}
.GP-0403	{background: url(../shop_patterns/P-037.png), 	linear-gradient(#A7CCE1 0%,#ECF6ED 100%);}
.GP-0404	{background: url(../shop_patterns/P-038.png), 	linear-gradient(#F3F3F3 0%,#EEDCDA 50%,#D8BCB9 100%);}
.GP-0405	{background: url(../shop_patterns/P-039.png), 	linear-gradient(#F8C6D7 0%,#AFE9F9 100%);}
.GP-0406	{background: url(../shop_patterns/P-040.png), 	linear-gradient(#FECFEE 0%,#FF9CA0 100%);}
.GP-0407	{background: url(../shop_patterns/P-041.png), 	linear-gradient(#62B9B7 0%,#ECF6ED 100%);}
.GP-0408	{background: url(../shop_patterns/P-042.png), 	linear-gradient(#FAC8CD 0%,#F8C169 100%);}
.GP-0409	{background: url(../shop_patterns/P-043.png), 	linear-gradient(#FFE2A0 0%,#FF739C 100%);}
.GP-0410	{background: url(../shop_patterns/P-044.png), 	linear-gradient(#EAAC89 0%,#EEE2CD 100%);}
.GP-0411	{background: url(../shop_patterns/P-045.png), 	linear-gradient(#E6AAE3 0%,#EFAFA4 100%);}
.GP-0412	{background: url(../shop_patterns/P-046.png), 	linear-gradient(#E5DDCC 0%,#71BEC2 100%);}
.GP-0413	{background: url(../shop_patterns/P-047.png), 	linear-gradient(#E0F787 0%,#4EE3FA 100%);}
.GP-0414	{background: url(../shop_patterns/P-048.png), 	linear-gradient(#56D8E4 0%,#9ACE95 100%);}
.GP-0415	{background: url(../shop_patterns/P-049.png), 	linear-gradient(#EA9591 0%,#FDB2AD 100%);}
.GP-0416	{background: url(../shop_patterns/P-050.png), 	linear-gradient(#FAE99B 0%,#E59740 100%);}
.GP-0417	{background: url(../shop_patterns/P-051.png), 	linear-gradient(#FF94C4 0%,#EB5170 100%);}
.GP-0418	{background: url(../shop_patterns/P-052.png), 	linear-gradient(#F7EE93 0%,#EADC22 100%);}
.GP-0419	{background: url(../shop_patterns/P-053.png), 	linear-gradient(#F3F96C 0%,#D2AD19 100%);}
.GP-0420	{background: url(../shop_patterns/P-054.png), 	linear-gradient(#F7E467 0%,#74C4AC 100%);}
.GP-0421	{background: url(../shop_patterns/P-055.png), 	linear-gradient(#92C35D 0%,#EADC22 100%);}
.GP-0422	{background: url(../shop_patterns/P-056.png), 	linear-gradient(#F8C55B 0%,#F86137 100%);}
.GP-0423	{background: url(../shop_patterns/P-057.png), 	linear-gradient(#C1943F 0%,#EECD6C 100%);}
.GP-0424	{background: url(../shop_patterns/P-058.png), 	linear-gradient(#D97C98 0%,#EADC22 100%);}
.GP-0425	{background: url(../shop_patterns/P-059.png), 	linear-gradient(#F8BC4F 0%,#D31557 100%);}
.GP-0426	{background: url(../shop_patterns/P-060.png), 	linear-gradient(#FEAB2A 0%,#E04E6B 100%);}
.GP-0427	{background: url(../shop_patterns/P-061.png), 	linear-gradient(#F93F48 0%,#FAB779 100%);}
.GP-0428	{background: url(../shop_patterns/P-062.png), 	linear-gradient(#F5A780 0%,#F12B5C 100%);}
.GP-0429	{background: url(../shop_patterns/P-063.png), 	linear-gradient(#E73EA2 0%,#F8C169 100%);}
.GP-0430	{background: url(../shop_patterns/P-064.png), 	linear-gradient(#94C651 0%,#93BDD8 100%);}
.GP-0431	{background: url(../shop_patterns/P-065.png), 	linear-gradient(#00E27B 0%,#00A6BE 100%);}
.GP-0432	{background: url(../shop_patterns/P-066.png), 	linear-gradient(#DADADA 0%,#8A8A8A 100%);}
.GP-0433	{background: url(../shop_patterns/P-067.png), 	linear-gradient(#06E3FA 0%,#E59740 100%);}
.GP-0434	{background: url(../shop_patterns/P-068.png), 	linear-gradient(#30F5FB 0%,#178ECB 100%);}
.GP-0435	{background: url(../shop_patterns/P-069.png), 	linear-gradient(#FA8FBF 0%,#8AB0FA 100%);}
.GP-0436	{background: url(../shop_patterns/P-070.png), 	linear-gradient(#9DBDCC 0%,#E73DA1 100%);}
.GP-0437	{background: url(../shop_patterns/P-071.png), 	linear-gradient(#C3E5F8 0%,#E03492 100%);}
.GP-0438	{background: url(../shop_patterns/P-072.png), 	linear-gradient(#81CCCF 0%,#D35D3B 100%);}
.GP-0439	{background: url(../shop_patterns/P-073.png), 	linear-gradient(#359AB6 0%,#6AB365 100%);}
.GP-0440	{background: url(../shop_patterns/P-074.png), 	linear-gradient(#06E3FA 0%,#507790 100%);}
.GP-0441	{background: url(../shop_patterns/P-075.png), 	linear-gradient(#48D1E3 0%,#458FB2 100%);}
.GP-0442	{background: url(../shop_patterns/P-076.png), 	linear-gradient(#F5C4CF 0%,#4252B7 100%);}
.GP-0443	{background: url(../shop_patterns/P-077.png), 	linear-gradient(#E1148B 0%,#93BDD8 100%);}
.GP-0444	{background: url(../shop_patterns/P-078.png), 	linear-gradient(#F0980B 0%,#7C6FD3 100%);}
.GP-0445	{background: url(../shop_patterns/P-079.png), 	linear-gradient(#6174B4 0%,#E59740 100%);}
.GP-0446	{background: url(../shop_patterns/P-080.png), 	linear-gradient(#01AEEF 0%,#E86564 100%);}
.GP-0447	{background: url(../shop_patterns/P-081.png), 	linear-gradient(#DA7D98 0%,#993D77 100%);}
.GP-0448	{background: url(../shop_patterns/P-082.png), 	linear-gradient(#F44869 0%,#9F01EA 100%);}
.GP-0449	{background: url(../shop_patterns/P-083.png), 	linear-gradient(#F97B5C 0%,#B04DE6 100%);}
.GP-0450	{background: url(../shop_patterns/P-084.png), 	linear-gradient(#723792 0%,#EFADB7 100%);}
.GP-0451	{background: url(../shop_patterns/P-085.png), 	linear-gradient(#56D8E4 0%,#9F01EA 100%);}
.GP-0452	{background: url(../shop_patterns/P-086.png), 	linear-gradient(#80EAD1 0%,#5B34A2 100%);}
.GP-0453	{background: url(../shop_patterns/P-087.png), 	linear-gradient(#BAD5F1 0%,#2A276B 100%);}
.GP-0454	{background: url(../shop_patterns/P-088.png), 	linear-gradient(#0A537A 0%,#81D1C9 100%);}
.GP-0455	{background: url(../shop_patterns/P-089.png), 	linear-gradient(#759E9C 0%,#9C619C 100%);}
.GP-0456	{background: url(../shop_patterns/P-090.png), 	linear-gradient(#253F4F 0%,#B5677F 50%,#CCC6BA 100%);}
.GP-0457	{background: url(../shop_patterns/P-091.png), 	linear-gradient(#EAAC89 0%,#33454F 100%);}
.GP-0458	{background: url(../shop_patterns/P-092.png), 	linear-gradient(#F05E07 0%,#1EBDB1 100%);}
.GP-0459	{background: url(../shop_patterns/P-093.png), 	linear-gradient(#67B4B1 0%,#346688 100%);}
.GP-0460	{background: url(../shop_patterns/P-094.png), 	linear-gradient(#F8685C 0%,#1940A9 100%);}
.GP-0461	{background: url(../shop_patterns/P-095.png), 	linear-gradient(#F05E07 0%,#5B34A2 100%);}
.GP-0462	{background: url(../shop_patterns/P-096.png), 	linear-gradient(#EC6864 0%,#423C69 100%);}
.GP-0463	{background: url(../shop_patterns/P-097.png), 	linear-gradient(#F9579F 0%,#63247E 100%);}
.GP-0464	{background: url(../shop_patterns/P-098.png), 	linear-gradient(#889C76 0%,#065E60 100%);}
.GP-0465	{background: url(../shop_patterns/P-099.png), 	linear-gradient(#889C76 0%,#417B6C 50%,#2B2D4E 100%);}
.GP-0466	{background: url(../shop_patterns/P-100.png), 	linear-gradient(#2F808C 0%,#63247E 100%);}
.GP-0467	{background: url(../shop_patterns/P-101.png), 	linear-gradient(#A14D8C 0%,#6C4D91 100%);}
.GP-0468	{background: url(../shop_patterns/P-102.png), 	linear-gradient(#546F7E 0%,#33454F 100%);}
.GP-0469	{background: url(../shop_patterns/P-103.png), 	linear-gradient(#D05A55 0%,#311240 100%);}
.GP-0470	{background: url(../shop_patterns/P-104.png), 	linear-gradient(#E1148B 0%,#2B2D4E 100%);}
.GP-0471	{background: url(../shop_patterns/P-105.png), 	linear-gradient(#982709 0%,#000200 100%);}
.GP-0472	{background: url(../shop_patterns/P-106.png), 	linear-gradient(#6A3D40 0%,#2C2121 100%);}
.GP-0473	{background: url(../shop_patterns/P-107.png), 	linear-gradient(#95A8B5 0%,#3D484E 100%);}
.GP-0474	{background: url(../shop_patterns/P-108.png), 	linear-gradient(#325762 0%,#26344D 100%);}
.GP-0475	{background: url(../shop_patterns/P-109.png), 	linear-gradient(#021B3E 0%,#517795 100%);}
.GP-0476	{background: url(../shop_patterns/P-110.png), 	linear-gradient(#252E3A 0%,#475463 100%);}
.GP-0477	{background: url(../shop_patterns/P-111.png), 	linear-gradient(#0160BA 0%,#000000 100%);}
.GP-0478	{background: url(../shop_patterns/P-112.png), 	linear-gradient(#33454F 0%,#1F292F 100%);}
.GP-0479	{background: url(../shop_patterns/P-113.png), 	linear-gradient(#5B3261 0%,#332549 100%);}
.GP-0480	{background: url(../shop_patterns/P-114.png), 	linear-gradient(#5F5F5F 0%,#000000 100%);}
.GP-0481	{background: url(../shop_patterns/P-115.png), 	linear-gradient(#37464C 0%,#21292C 100%);}
.GP-0482	{background: url(../shop_patterns/P-116.png), 	linear-gradient(#414141 0%,#000000 100%);}