.GR-0001	{background-image: linear-gradient(rgb(189, 195, 199), rgb(44, 62, 80));}
.GR-0002	{background-image: linear-gradient(rgb(238, 156, 167), rgb(255, 221, 225));}
.GR-0003	{background-image: linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));}
.GR-0004	{background-image: linear-gradient(rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));}
.GR-0005	{background-image: linear-gradient(rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));}
.GR-0006	{background-image: linear-gradient(rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));}
.GR-0007	{background-image: linear-gradient(rgb(185, 43, 39), rgb(21, 101, 192));}
.GR-0008	{background-image: linear-gradient(rgb(55, 59, 68), rgb(66, 134, 244));}
.GR-0009	{background-image: linear-gradient(rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));}
.GR-0010	{background-image: linear-gradient(rgb(255, 0, 153), rgb(73, 50, 64));}
.GR-0011	{background-image: linear-gradient(rgb(170, 75, 107), rgb(107, 107, 131), rgb(59, 141, 153));}
.GR-0012	{background-image: linear-gradient(rgb(142, 45, 226), rgb(74, 0, 224));}
.GR-0013	{background-image: linear-gradient(rgb(31, 64, 55), rgb(153, 242, 200));}
.GR-0014	{background-image: linear-gradient(rgb(249, 83, 198), rgb(185, 29, 115));}
.GR-0015	{background-image: linear-gradient(rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));}
.GR-0016	{background-image: linear-gradient(rgb(195, 20, 50), rgb(36, 11, 54));}
.GR-0017	{background-image: linear-gradient(rgb(241, 39, 17), rgb(245, 175, 25));}
.GR-0018	{background-image: linear-gradient(rgb(101, 153, 153), rgb(244, 121, 31));}
.GR-0019	{background-image: linear-gradient(rgb(221, 62, 84), rgb(107, 229, 133));}
.GR-0020	{background-image: linear-gradient(rgb(131, 96, 195), rgb(46, 191, 145));}
.GR-0021	{background-image: linear-gradient(rgb(84, 74, 125), rgb(255, 212, 82));}
.GR-0022	{background-image: linear-gradient(rgb(0, 159, 255), rgb(236, 47, 75));}
.GR-0023	{background-image: linear-gradient(rgb(101, 78, 163), rgb(234, 175, 200));}
.GR-0024	{background-image: linear-gradient(rgb(255, 65, 108), rgb(255, 75, 43));}
.GR-0025	{background-image: linear-gradient(rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));}
.GR-0026	{background-image: linear-gradient(rgb(168, 255, 120), rgb(120, 255, 214));}
.GR-0027	{background-image: linear-gradient(rgb(30, 150, 0), rgb(255, 242, 0), rgb(255, 0, 0));}
.GR-0028	{background-image: linear-gradient(rgb(237, 33, 58), rgb(147, 41, 30));}
.GR-0029	{background-image: linear-gradient(rgb(253, 200, 48), rgb(243, 115, 53));}
.GR-0030	{background-image: linear-gradient(rgb(0, 180, 219), rgb(0, 131, 176));}
.GR-0031	{background-image: linear-gradient(rgb(255, 239, 186), rgb(255, 255, 255));}
.GR-0032	{background-image: linear-gradient(rgb(89, 193, 115), rgb(161, 127, 224), rgb(93, 38, 193));}
.GR-0033	{background-image: linear-gradient(rgb(0, 90, 167), rgb(255, 253, 228));}
.GR-0034	{background-image: linear-gradient(rgb(218, 68, 83), rgb(137, 33, 107));}
.GR-0035	{background-image: linear-gradient(rgb(99, 99, 99), rgb(162, 171, 88));}
.GR-0036	{background-image: linear-gradient(rgb(173, 83, 137), rgb(60, 16, 83));}
.GR-0037	{background-image: linear-gradient(rgb(168, 192, 255), rgb(63, 43, 150));}
.GR-0038	{background-image: linear-gradient(rgb(51, 51, 51), rgb(221, 24, 24));}
.GR-0039	{background-image: linear-gradient(rgb(78, 84, 200), rgb(143, 148, 251));}
.GR-0040	{background-image: linear-gradient(rgb(53, 92, 125), rgb(108, 91, 123), rgb(192, 108, 132));}
.GR-0041	{background-image: linear-gradient(rgb(188, 78, 156), rgb(248, 7, 89));}
.GR-0042	{background-image: linear-gradient(rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128));}
.GR-0043	{background-image: linear-gradient(rgb(62, 81, 81), rgb(222, 203, 164));}
.GR-0044	{background-image: linear-gradient(rgb(17, 153, 142), rgb(56, 239, 125));}
.GR-0045	{background-image: linear-gradient(rgb(16, 141, 199), rgb(239, 142, 56));}
.GR-0046	{background-image: linear-gradient(rgb(252, 92, 125), rgb(106, 130, 251));}
.GR-0047	{background-image: linear-gradient(rgb(252, 70, 107), rgb(63, 94, 251));}
.GR-0048	{background-image: linear-gradient(rgb(201, 75, 75), rgb(75, 19, 79));}
.GR-0049	{background-image: linear-gradient(rgb(35, 7, 77), rgb(204, 83, 51));}
.GR-0050	{background-image: linear-gradient(rgb(255, 251, 213), rgb(178, 10, 44));}
.GR-0051	{background-image: linear-gradient(rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));}
.GR-0052	{background-image: linear-gradient(rgb(0, 176, 155), rgb(150, 201, 61));}
.GR-0053	{background-image: linear-gradient(rgb(211, 204, 227), rgb(233, 228, 240));}
.GR-0054	{background-image: linear-gradient(rgb(60, 59, 63), rgb(96, 92, 60));}
.GR-0055	{background-image: linear-gradient(rgb(202, 197, 49), rgb(243, 249, 167));}
.GR-0056	{background-image: linear-gradient(rgb(128, 0, 128), rgb(255, 192, 203));}
.GR-0057	{background-image: linear-gradient(rgb(0, 242, 96), rgb(5, 117, 230));}
.GR-0058	{background-image: linear-gradient(rgb(252, 74, 26), rgb(247, 183, 51));}
.GR-0059	{background-image: linear-gradient(rgb(116, 235, 213), rgb(172, 182, 229));}
.GR-0060	{background-image: linear-gradient(rgb(109, 96, 39), rgb(211, 203, 184));}
.GR-0061	{background-image: linear-gradient(rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188), rgb(253, 239, 249));}
.GR-0062	{background-image: linear-gradient(rgb(102, 125, 182), rgb(0, 130, 200), rgb(0, 130, 200), rgb(102, 125, 182));}
.GR-0063	{background-image: linear-gradient(rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));}
.GR-0064	{background-image: linear-gradient(rgb(225, 238, 195), rgb(240, 80, 83));}
.GR-0065	{background-image: linear-gradient(rgb(26, 42, 108), rgb(178, 31, 31), rgb(253, 187, 45));}
.GR-0066	{background-image: linear-gradient(rgb(34, 193, 195), rgb(253, 187, 45));}
.GR-0067	{background-image: linear-gradient(rgb(255, 153, 102), rgb(255, 94, 98));}
.GR-0068	{background-image: linear-gradient(rgb(127, 0, 255), rgb(225, 0, 255));}
.GR-0069	{background-image: linear-gradient(rgb(201, 214, 255), rgb(226, 226, 226));}
.GR-0070	{background-image: linear-gradient(rgb(57, 106, 252), rgb(41, 72, 255));}
.GR-0071	{background-image: linear-gradient(rgb(217, 167, 199), rgb(255, 252, 220));}
.GR-0072	{background-image: linear-gradient(rgb(12, 235, 235), rgb(32, 227, 178), rgb(41, 255, 198));}
.GR-0073	{background-image: linear-gradient(rgb(6, 190, 182), rgb(72, 177, 191));}
.GR-0074	{background-image: linear-gradient(rgb(100, 43, 115), rgb(198, 66, 110));}
.GR-0075	{background-image: linear-gradient(rgb(28, 146, 210), rgb(242, 252, 254));}
.GR-0076	{background-image: linear-gradient(rgb(0, 0, 0), rgb(15, 155, 15));}
.GR-0077	{background-image: linear-gradient(rgb(54, 209, 220), rgb(91, 134, 229));}
.GR-0078	{background-image: linear-gradient(rgb(203, 53, 107), rgb(189, 63, 50));}
.GR-0079	{background-image: linear-gradient(rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123));}
.GR-0080	{background-image: linear-gradient(rgb(40, 60, 134), rgb(69, 162, 71));}
.GR-0081	{background-image: linear-gradient(rgb(239, 59, 54), rgb(255, 255, 255));}
.GR-0082	{background-image: linear-gradient(rgb(192, 57, 43), rgb(142, 68, 173));}
.GR-0083	{background-image: linear-gradient(rgb(21, 153, 87), rgb(21, 87, 153));}
.GR-0084	{background-image: linear-gradient(rgb(0, 0, 70), rgb(28, 181, 224));}
.GR-0085	{background-image: linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));}
.GR-0086	{background-image: linear-gradient(rgb(86, 204, 242), rgb(47, 128, 237));}
.GR-0087	{background-image: linear-gradient(rgb(242, 153, 74), rgb(242, 201, 76));}
.GR-0088	{background-image: linear-gradient(rgb(235, 87, 87), rgb(0, 0, 0));}
.GR-0089	{background-image: linear-gradient(rgb(228, 77, 38), rgb(241, 101, 41));}
.GR-0090	{background-image: linear-gradient(rgb(74, 194, 154), rgb(189, 255, 243));}
.GR-0091	{background-image: linear-gradient(rgb(178, 254, 250), rgb(14, 210, 247));}
.GR-0092	{background-image: linear-gradient(rgb(48, 232, 191), rgb(255, 130, 53));}
.GR-0093	{background-image: linear-gradient(rgb(214, 109, 117), rgb(226, 149, 135));}
.GR-0094	{background-image: linear-gradient(rgb(32, 0, 44), rgb(203, 180, 212));}
.GR-0095	{background-image: linear-gradient(rgb(195, 55, 100), rgb(29, 38, 113));}
.GR-0096	{background-image: linear-gradient(rgb(247, 151, 30), rgb(255, 210, 0));}
.GR-0097	{background-image: linear-gradient(rgb(52, 232, 158), rgb(15, 52, 67));}
.GR-0098	{background-image: linear-gradient(rgb(97, 144, 232), rgb(167, 191, 232));}
.GR-0099	{background-image: linear-gradient(rgb(68, 160, 141), rgb(9, 54, 55));}
.GR-0100	{background-image: linear-gradient(rgb(32, 1, 34), rgb(111, 0, 0));}
.GR-0101	{background-image: linear-gradient(rgb(5, 117, 230), rgb(2, 27, 121));}
.GR-0102	{background-image: linear-gradient(rgb(69, 104, 220), rgb(176, 106, 179));}
.GR-0103	{background-image: linear-gradient(rgb(67, 198, 172), rgb(25, 22, 84));}
.GR-0104	{background-image: linear-gradient(rgb(9, 48, 40), rgb(35, 122, 87));}
.GR-0105	{background-image: linear-gradient(rgb(67, 198, 172), rgb(248, 255, 174));}
.GR-0106	{background-image: linear-gradient(rgb(255, 175, 189), rgb(255, 195, 160));}
.GR-0107	{background-image: linear-gradient(rgb(240, 242, 240), rgb(0, 12, 64));}
.GR-0108	{background-image: linear-gradient(rgb(232, 203, 192), rgb(99, 111, 164));}
.GR-0109	{background-image: linear-gradient(rgb(220, 227, 91), rgb(69, 182, 73));}
.GR-0110	{background-image: linear-gradient(rgb(192, 192, 170), rgb(28, 239, 255));}
.GR-0111	{background-image: linear-gradient(rgb(156, 236, 251), rgb(101, 199, 247), rgb(0, 82, 212));}
.GR-0112	{background-image: linear-gradient(rgb(219, 230, 246), rgb(197, 121, 109));}
.GR-0113	{background-image: linear-gradient(rgb(52, 148, 230), rgb(236, 110, 173));}
.GR-0114	{background-image: linear-gradient(rgb(103, 178, 111), rgb(76, 162, 205));}
.GR-0115	{background-image: linear-gradient(rgb(243, 144, 79), rgb(59, 67, 113));}
.GR-0116	{background-image: linear-gradient(rgb(238, 9, 121), rgb(255, 106, 0));}
.GR-0117	{background-image: linear-gradient(rgb(167, 112, 239), rgb(207, 139, 243), rgb(253, 185, 155));}
.GR-0118	{background-image: linear-gradient(rgb(65, 41, 90), rgb(47, 7, 67));}
.GR-0119	{background-image: linear-gradient(rgb(244, 196, 243), rgb(252, 103, 250));}
.GR-0120	{background-image: linear-gradient(rgb(0, 195, 255), rgb(255, 255, 28));}
.GR-0121	{background-image: linear-gradient(rgb(255, 126, 95), rgb(254, 180, 123));}
.GR-0122	{background-image: linear-gradient(rgb(255, 252, 0), rgb(255, 255, 255));}
.GR-0123	{background-image: linear-gradient(rgb(255, 0, 204), rgb(51, 51, 153));}
.GR-0124	{background-image: linear-gradient(rgb(222, 97, 97), rgb(38, 87, 235));}
.GR-0125	{background-image: linear-gradient(rgb(239, 50, 217), rgb(137, 255, 253));}
.GR-0126	{background-image: linear-gradient(rgb(58, 97, 134), rgb(137, 37, 62));}
.GR-0127	{background-image: linear-gradient(rgb(78, 205, 196), rgb(85, 98, 112));}
.GR-0128	{background-image: linear-gradient(rgb(161, 255, 206), rgb(250, 255, 209));}
.GR-0129	{background-image: linear-gradient(rgb(190, 147, 197), rgb(123, 198, 204));}
.GR-0130	{background-image: linear-gradient(rgb(189, 195, 199), rgb(44, 62, 80));}
.GR-0131	{background-image: linear-gradient(rgb(255, 216, 155), rgb(25, 84, 123));}
.GR-0132	{background-image: linear-gradient(rgb(128, 128, 128), rgb(63, 173, 168));}
.GR-0133	{background-image: linear-gradient(rgb(252, 234, 187), rgb(248, 181, 0));}
.GR-0134	{background-image: linear-gradient(rgb(248, 80, 50), rgb(231, 56, 39));}
.GR-0135	{background-image: linear-gradient(rgb(247, 157, 0), rgb(100, 243, 140));}
.GR-0136	{background-image: linear-gradient(rgb(203, 45, 62), rgb(239, 71, 58));}
.GR-0137	{background-image: linear-gradient(rgb(86, 171, 47), rgb(168, 224, 99));}
.GR-0138	{background-image: linear-gradient(rgb(0, 4, 40), rgb(0, 78, 146));}
.GR-0139	{background-image: linear-gradient(rgb(66, 39, 90), rgb(115, 75, 109));}
.GR-0140	{background-image: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));}
.GR-0141	{background-image: linear-gradient(rgb(240, 0, 0), rgb(220, 40, 30));}
.GR-0142	{background-image: linear-gradient(rgb(44, 62, 80), rgb(253, 116, 108));}
.GR-0143	{background-image: linear-gradient(rgb(44, 62, 80), rgb(76, 161, 175));}
.GR-0144	{background-image: linear-gradient(rgb(233, 100, 67), rgb(144, 78, 149));}
.GR-0145	{background-image: linear-gradient(rgb(11, 72, 107), rgb(245, 98, 23));}
.GR-0146	{background-image: linear-gradient(rgb(58, 123, 213), rgb(58, 96, 115));}
.GR-0147	{background-image: linear-gradient(rgb(0, 210, 255), rgb(146, 141, 171));}
.GR-0148	{background-image: linear-gradient(rgb(33, 150, 243), rgb(244, 67, 54));}
.GR-0149	{background-image: linear-gradient(rgb(255, 95, 109), rgb(255, 195, 113));}
.GR-0150	{background-image: linear-gradient(rgb(255, 75, 31), rgb(255, 144, 104));}
.GR-0151	{background-image: linear-gradient(rgb(22, 191, 253), rgb(203, 48, 102));}
.GR-0152	{background-image: linear-gradient(rgb(238, 205, 163), rgb(239, 98, 159));}
.GR-0153	{background-image: linear-gradient(rgb(29, 67, 80), rgb(164, 57, 49));}
.GR-0154	{background-image: linear-gradient(rgb(168, 0, 119), rgb(102, 255, 0));}
.GR-0155	{background-image: linear-gradient(rgb(247, 255, 0), rgb(219, 54, 164));}
.GR-0156	{background-image: linear-gradient(rgb(255, 75, 31), rgb(31, 221, 255));}
.GR-0157	{background-image: linear-gradient(rgb(186, 83, 112), rgb(244, 226, 216));}
.GR-0158	{background-image: linear-gradient(rgb(224, 234, 252), rgb(207, 222, 243));}
.GR-0159	{background-image: linear-gradient(rgb(76, 161, 175), rgb(196, 224, 229));}
.GR-0160	{background-image: linear-gradient(rgb(0, 0, 0), rgb(67, 67, 67));}
.GR-0161	{background-image: linear-gradient(rgb(75, 121, 161), rgb(40, 62, 81));}
.GR-0162	{background-image: linear-gradient(rgb(131, 77, 155), rgb(208, 78, 214));}
.GR-0163	{background-image: linear-gradient(rgb(0, 153, 247), rgb(241, 23, 18));}
.GR-0164	{background-image: linear-gradient(rgb(41, 128, 185), rgb(44, 62, 80));}
.GR-0165	{background-image: linear-gradient(rgb(90, 63, 55), rgb(44, 119, 68));}
.GR-0166	{background-image: linear-gradient(rgb(77, 160, 176), rgb(211, 157, 56));}
.GR-0167	{background-image: linear-gradient(rgb(86, 20, 176), rgb(219, 214, 92));}
.GR-0168	{background-image: linear-gradient(rgb(47, 115, 54), rgb(170, 58, 56));}
.GR-0169	{background-image: linear-gradient(rgb(30, 60, 114), rgb(42, 82, 152));}
.GR-0170	{background-image: linear-gradient(rgb(17, 67, 87), rgb(242, 148, 146));}
.GR-0171	{background-image: linear-gradient(rgb(253, 116, 108), rgb(255, 144, 104));}
.GR-0172	{background-image: linear-gradient(rgb(234, 205, 163), rgb(214, 174, 123));}
.GR-0173	{background-image: linear-gradient(rgb(106, 48, 147), rgb(160, 68, 255));}
.GR-0174	{background-image: linear-gradient(rgb(69, 127, 202), rgb(86, 145, 200));}
.GR-0175	{background-image: linear-gradient(rgb(178, 69, 146), rgb(241, 95, 121));}
.GR-0176	{background-image: linear-gradient(rgb(192, 36, 37), rgb(240, 203, 53));}
.GR-0177	{background-image: linear-gradient(rgb(64, 58, 62), rgb(190, 88, 105));}
.GR-0178	{background-image: linear-gradient(rgb(194, 229, 156), rgb(100, 179, 244));}
.GR-0179	{background-image: linear-gradient(rgb(255, 183, 94), rgb(237, 143, 3));}
.GR-0180	{background-image: linear-gradient(rgb(142, 14, 0), rgb(31, 28, 24));}
.GR-0181	{background-image: linear-gradient(rgb(118, 184, 82), rgb(141, 194, 111));}
.GR-0182	{background-image: linear-gradient(rgb(103, 58, 183), rgb(81, 45, 168));}
.GR-0183	{background-image: linear-gradient(rgb(0, 201, 255), rgb(146, 254, 157));}
.GR-0184	{background-image: linear-gradient(rgb(244, 107, 69), rgb(238, 168, 73));}
.GR-0185	{background-image: linear-gradient(rgb(0, 92, 151), rgb(54, 55, 149));}
.GR-0186	{background-image: linear-gradient(rgb(229, 57, 53), rgb(227, 93, 91));}
.GR-0187	{background-image: linear-gradient(rgb(252, 0, 255), rgb(0, 219, 222));}
.GR-0188	{background-image: linear-gradient(rgb(44, 62, 80), rgb(52, 152, 219));}
.GR-0189	{background-image: linear-gradient(rgb(204, 204, 178), rgb(117, 117, 25));}
.GR-0190	{background-image: linear-gradient(rgb(48, 67, 82), rgb(215, 210, 204));}
.GR-0191	{background-image: linear-gradient(rgb(238, 156, 167), rgb(255, 221, 225));}
.GR-0192	{background-image: linear-gradient(rgb(186, 139, 2), rgb(24, 24, 24));}
.GR-0193	{background-image: linear-gradient(rgb(82, 82, 82), rgb(61, 114, 180));}
.GR-0194	{background-image: linear-gradient(rgb(0, 79, 249), rgb(255, 249, 76));}
.GR-0195	{background-image: linear-gradient(rgb(106, 145, 19), rgb(20, 21, 23));}
.GR-0196	{background-image: linear-gradient(rgb(241, 242, 181), rgb(19, 80, 88));}
.GR-0197	{background-image: linear-gradient(rgb(209, 145, 60), rgb(255, 209, 148));}
.GR-0198	{background-image: linear-gradient(rgb(123, 67, 151), rgb(220, 36, 48));}
.GR-0199	{background-image: linear-gradient(rgb(142, 158, 171), rgb(238, 242, 243));}
.GR-0200	{background-image: linear-gradient(rgb(19, 106, 138), rgb(38, 120, 113));}
.GR-0201	{background-image: linear-gradient(rgb(0, 191, 143), rgb(0, 21, 16));}
.GR-0202	{background-image: linear-gradient(rgb(255, 0, 132), rgb(51, 0, 27));}
.GR-0203	{background-image: linear-gradient(rgb(131, 58, 180), rgb(253, 29, 29), rgb(252, 176, 69));}
.GR-0204	{background-image: linear-gradient(rgb(254, 172, 94), rgb(199, 121, 208), rgb(75, 192, 200));}
.GR-0205	{background-image: linear-gradient(rgb(100, 65, 165), rgb(42, 8, 69));}
.GR-0206	{background-image: linear-gradient(rgb(255, 179, 71), rgb(255, 204, 51));}
.GR-0207	{background-image: linear-gradient(rgb(67, 206, 162), rgb(24, 90, 157));}
.GR-0208	{background-image: linear-gradient(rgb(255, 161, 127), rgb(0, 34, 62));}
.GR-0209	{background-image: linear-gradient(rgb(54, 0, 51), rgb(11, 135, 147));}
.GR-0210	{background-image: linear-gradient(rgb(148, 142, 153), rgb(46, 20, 55));}
.GR-0211	{background-image: linear-gradient(rgb(30, 19, 12), rgb(154, 132, 120));}
.GR-0212	{background-image: linear-gradient(rgb(211, 131, 18), rgb(168, 50, 121));}
.GR-0213	{background-image: linear-gradient(rgb(115, 200, 169), rgb(55, 59, 68));}
.GR-0214	{background-image: linear-gradient(rgb(171, 186, 171), rgb(255, 255, 255));}
.GR-0215	{background-image: linear-gradient(rgb(253, 252, 71), rgb(36, 254, 65));}
.GR-0216	{background-image: linear-gradient(rgb(131, 164, 212), rgb(182, 251, 255));}
.GR-0217	{background-image: linear-gradient(rgb(72, 85, 99), rgb(41, 50, 60));}
.GR-0218	{background-image: linear-gradient(rgb(82, 194, 52), rgb(6, 23, 0));}
.GR-0219	{background-image: linear-gradient(rgb(254, 140, 0), rgb(248, 54, 0));}
.GR-0220	{background-image: linear-gradient(rgb(0, 198, 255), rgb(0, 114, 255));}
.GR-0221	{background-image: linear-gradient(rgb(112, 225, 245), rgb(255, 209, 148));}
.GR-0222	{background-image: linear-gradient(rgb(85, 98, 112), rgb(255, 107, 107));}
.GR-0223	{background-image: linear-gradient(rgb(157, 80, 187), rgb(110, 72, 170));}
.GR-0224	{background-image: linear-gradient(rgb(120, 2, 6), rgb(6, 17, 97));}
.GR-0225	{background-image: linear-gradient(rgb(179, 255, 171), rgb(18, 255, 247));}
.GR-0226	{background-image: linear-gradient(rgb(170, 255, 169), rgb(17, 255, 189));}
.GR-0227	{background-image: linear-gradient(rgb(0, 0, 0), rgb(231, 76, 60));}
.GR-0228	{background-image: linear-gradient(rgb(240, 194, 123), rgb(75, 18, 72));}
.GR-0229	{background-image: linear-gradient(rgb(255, 78, 80), rgb(249, 212, 35));}
.GR-0230	{background-image: linear-gradient(rgb(173, 209, 0), rgb(123, 146, 10));}
.GR-0231	{background-image: linear-gradient(rgb(251, 211, 233), rgb(187, 55, 125));}
.GR-0232	{background-image: linear-gradient(rgb(96, 108, 136), rgb(63, 76, 107));}
.GR-0233	{background-image: linear-gradient(rgb(201, 255, 191), rgb(255, 175, 189));}
.GR-0234	{background-image: linear-gradient(rgb(100, 145, 115), rgb(219, 213, 164));}
.GR-0235	{background-image: linear-gradient(rgb(185, 147, 214), rgb(140, 166, 219));}
.GR-0236	{background-image: linear-gradient(rgb(135, 0, 0), rgb(25, 10, 5));}
.GR-0237	{background-image: linear-gradient(rgb(0, 210, 255), rgb(58, 123, 213));}
.GR-0238	{background-image: linear-gradient(rgb(211, 149, 155), rgb(191, 230, 186));}
.GR-0239	{background-image: linear-gradient(rgb(218, 210, 153), rgb(176, 218, 185));}
.GR-0240	{background-image: linear-gradient(rgb(242, 112, 156), rgb(255, 148, 114));}
.GR-0241	{background-image: linear-gradient(rgb(230, 218, 218), rgb(39, 64, 70));}
.GR-0242	{background-image: linear-gradient(rgb(93, 65, 87), rgb(168, 202, 186));}
.GR-0243	{background-image: linear-gradient(rgb(221, 214, 243), rgb(250, 172, 168));}
.GR-0244	{background-image: linear-gradient(rgb(97, 97, 97), rgb(155, 197, 195));}
.GR-0245	{background-image: linear-gradient(rgb(80, 201, 195), rgb(150, 222, 218));}
.GR-0246	{background-image: linear-gradient(rgb(33, 95, 0), rgb(228, 228, 217));}
.GR-0247	{background-image: linear-gradient(rgb(194, 21, 0), rgb(255, 197, 0));}
.GR-0248	{background-image: linear-gradient(rgb(239, 239, 187), rgb(212, 211, 221));}
.GR-0249	{background-image: linear-gradient(rgb(255, 238, 238), rgb(221, 239, 187));}
.GR-0250	{background-image: linear-gradient(rgb(102, 102, 0), rgb(153, 153, 102));}
.GR-0251	{background-image: linear-gradient(rgb(222, 98, 98), rgb(255, 184, 140));}
.GR-0252	{background-image: linear-gradient(rgb(233, 211, 98), rgb(51, 51, 51));}
.GR-0253	{background-image: linear-gradient(rgb(213, 51, 105), rgb(203, 173, 109));}
.GR-0254	{background-image: linear-gradient(rgb(167, 55, 55), rgb(122, 40, 40));}
.GR-0255	{background-image: linear-gradient(rgb(248, 87, 166), rgb(255, 88, 88));}
.GR-0256	{background-image: linear-gradient(rgb(75, 108, 183), rgb(24, 40, 72));}
.GR-0257	{background-image: linear-gradient(rgb(252, 53, 76), rgb(10, 191, 188));}
.GR-0258	{background-image: linear-gradient(rgb(65, 77, 11), rgb(114, 122, 23));}
.GR-0259	{background-image: linear-gradient(rgb(228, 58, 21), rgb(230, 82, 69));}
.GR-0260	{background-image: linear-gradient(rgb(192, 72, 72), rgb(72, 0, 72));}
.GR-0261	{background-image: linear-gradient(rgb(95, 44, 130), rgb(73, 160, 157));}
.GR-0262	{background-image: linear-gradient(rgb(236, 111, 102), rgb(243, 161, 131));}
.GR-0263	{background-image: linear-gradient(rgb(116, 116, 191), rgb(52, 138, 199));}
.GR-0264	{background-image: linear-gradient(rgb(236, 233, 230), rgb(255, 255, 255));}
.GR-0265	{background-image: linear-gradient(rgb(218, 226, 248), rgb(214, 164, 164));}
.GR-0266	{background-image: linear-gradient(rgb(237, 66, 100), rgb(255, 237, 188));}
.GR-0267	{background-image: linear-gradient(rgb(220, 36, 36), rgb(74, 86, 157));}
.GR-0268	{background-image: linear-gradient(rgb(36, 198, 220), rgb(81, 74, 157));}
.GR-0269	{background-image: linear-gradient(rgb(40, 48, 72), rgb(133, 147, 152));}
.GR-0270	{background-image: linear-gradient(rgb(61, 126, 170), rgb(255, 228, 122));}
.GR-0271	{background-image: linear-gradient(rgb(28, 216, 210), rgb(147, 237, 199));}
.GR-0272	{background-image: linear-gradient(rgb(35, 37, 38), rgb(65, 67, 69));}
.GR-0273	{background-image: linear-gradient(rgb(117, 127, 154), rgb(215, 221, 232));}
.GR-0274	{background-image: linear-gradient(rgb(92, 37, 141), rgb(67, 137, 162));}
.GR-0275	{background-image: linear-gradient(rgb(19, 78, 94), rgb(113, 178, 128));}
.GR-0276	{background-image: linear-gradient(rgb(43, 192, 228), rgb(234, 236, 198));}
.GR-0277	{background-image: linear-gradient(rgb(8, 80, 120), rgb(133, 216, 206));}
.GR-0278	{background-image: linear-gradient(rgb(71, 118, 230), rgb(142, 84, 233));}
.GR-0279	{background-image: linear-gradient(rgb(97, 67, 133), rgb(81, 99, 149));}
.GR-0280	{background-image: linear-gradient(rgb(31, 28, 44), rgb(146, 141, 171));}
.GR-0281	{background-image: linear-gradient(rgb(22, 34, 42), rgb(58, 96, 115));}
.GR-0282	{background-image: linear-gradient(rgb(255, 128, 8), rgb(255, 200, 55));}
.GR-0283	{background-image: linear-gradient(rgb(29, 151, 108), rgb(147, 249, 185));}
.GR-0284	{background-image: linear-gradient(rgb(235, 51, 73), rgb(244, 92, 67));}
.GR-0285	{background-image: linear-gradient(rgb(221, 94, 137), rgb(247, 187, 151));}
.GR-0286	{background-image: linear-gradient(rgb(76, 184, 196), rgb(60, 211, 173));}
.GR-0287	{background-image: linear-gradient(rgb(31, 162, 255), rgb(18, 216, 250), rgb(166, 255, 203));}
.GR-0288	{background-image: linear-gradient(rgb(29, 43, 100), rgb(248, 205, 218));}
.GR-0289	{background-image: linear-gradient(rgb(255, 81, 47), rgb(240, 152, 25));}
.GR-0290	{background-image: linear-gradient(rgb(26, 41, 128), rgb(38, 208, 206));}
.GR-0291	{background-image: linear-gradient(rgb(170, 7, 107), rgb(97, 4, 95));}
.GR-0292	{background-image: linear-gradient(rgb(255, 81, 47), rgb(221, 36, 118));}
.GR-0293	{background-image: linear-gradient(rgb(240, 152, 25), rgb(237, 222, 93));}
.GR-0294	{background-image: linear-gradient(rgb(64, 59, 74), rgb(231, 233, 187));}
.GR-0295	{background-image: linear-gradient(rgb(229, 93, 135), rgb(95, 195, 228));}
.GR-0296	{background-image: linear-gradient(rgb(0, 57, 115), rgb(229, 229, 190));}
.GR-0297	{background-image: linear-gradient(rgb(204, 149, 192), rgb(219, 212, 180), rgb(122, 161, 210));}
.GR-0298	{background-image: linear-gradient(rgb(60, 165, 92), rgb(181, 172, 73));}
.GR-0299	{background-image: linear-gradient(rgb(52, 143, 80), rgb(86, 180, 211));}
.GR-0300	{background-image: linear-gradient(rgb(218, 34, 255), rgb(151, 51, 238));}
.GR-0301	{background-image: linear-gradient(rgb(2, 170, 176), rgb(0, 205, 172));}
.GR-0302	{background-image: linear-gradient(rgb(237, 229, 116), rgb(225, 245, 196));}
.GR-0303	{background-image: linear-gradient(rgb(211, 16, 39), rgb(234, 56, 77));}
.GR-0304	{background-image: linear-gradient(rgb(22, 160, 133), rgb(244, 208, 63));}
.GR-0305	{background-image: linear-gradient(rgb(96, 56, 19), rgb(178, 159, 148));}
.GR-0306	{background-image: linear-gradient(rgb(229, 45, 39), rgb(179, 18, 23));}
.GR-0307	{background-image: linear-gradient(rgb(255, 110, 127), rgb(191, 233, 255));}
.GR-0308	{background-image: linear-gradient(rgb(119, 161, 211), rgb(121, 203, 202), rgb(230, 132, 174));}
.GR-0309	{background-image: linear-gradient(rgb(49, 71, 85), rgb(38, 160, 218));}
.GR-0310	{background-image: linear-gradient(rgb(43, 88, 118), rgb(78, 67, 118));}
.GR-0311	{background-image: linear-gradient(rgb(230, 92, 0), rgb(249, 212, 35));}
.GR-0312	{background-image: linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));}
.GR-0313	{background-image: linear-gradient(rgb(204, 43, 94), rgb(117, 58, 136));}
.GR-0314	{background-image: linear-gradient(rgb(236, 0, 140), rgb(252, 103, 103));}
.GR-0315	{background-image: linear-gradient(rgb(20, 136, 204), rgb(43, 50, 178));}
.GR-0316	{background-image: linear-gradient(rgb(0, 70, 127), rgb(165, 204, 130));}
.GR-0317	{background-image: linear-gradient(rgb(7, 101, 133), rgb(255, 255, 255));}
.GR-0318	{background-image: linear-gradient(rgb(187, 210, 197), rgb(83, 105, 118));}
.GR-0319	{background-image: linear-gradient(rgb(151, 150, 240), rgb(251, 199, 212));}
.GR-0320	{background-image: linear-gradient(rgb(183, 152, 145), rgb(148, 113, 107));}
.GR-0321	{background-image: linear-gradient(rgb(187, 210, 197), rgb(83, 105, 118), rgb(41, 46, 73));}
.GR-0322	{background-image: linear-gradient(rgb(83, 105, 118), rgb(41, 46, 73));}
.GR-0323	{background-image: linear-gradient(rgb(172, 182, 229), rgb(134, 253, 232));}
.GR-0324	{background-image: linear-gradient(rgb(255, 224, 0), rgb(121, 159, 12));}
.GR-0325	{background-image: linear-gradient(rgb(0, 65, 106), rgb(228, 229, 230));}
.GR-0326	{background-image: linear-gradient(rgb(255, 226, 89), rgb(255, 167, 81));}
.GR-0327	{background-image: linear-gradient(rgb(121, 159, 12), rgb(172, 187, 120));}
.GR-0328	{background-image: linear-gradient(rgb(84, 51, 255), rgb(32, 189, 255), rgb(165, 254, 203));}
.GR-0329	{background-image: linear-gradient(rgb(0, 82, 212), rgb(67, 100, 247), rgb(111, 177, 252));}
.GR-0330	{background-image: linear-gradient(rgb(51, 77, 80), rgb(203, 202, 165));}
.GR-0331	{background-image: linear-gradient(rgb(0, 65, 106), rgb(121, 159, 12), rgb(255, 224, 0));}
.GR-0332	{background-image: linear-gradient(rgb(247, 248, 248), rgb(172, 187, 120));}
.GR-0333	{background-image: linear-gradient(rgb(255, 224, 0), rgb(121, 159, 12));}
.GR-0334	{background-image: linear-gradient(rgb(0, 65, 106), rgb(228, 229, 230));}
.GR-0335	{background-image: linear-gradient(rgb(253, 235, 113) 10%, rgb(248, 216, 0) 100%);}
.GR-0336	{background-image: linear-gradient(rgb(171, 220, 255) 10%, rgb(3, 150, 255) 100%);}
.GR-0337	{background-image: linear-gradient(rgb(254, 182, 146) 10%, rgb(234, 84, 85) 100%);}
.GR-0338	{background-image: linear-gradient(rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);}
.GR-0339	{background-image: linear-gradient(rgb(144, 247, 236) 10%, rgb(50, 204, 188) 100%);}
.GR-0340	{background-image: linear-gradient(rgb(255, 246, 183) 10%, rgb(246, 65, 108) 100%);}
.GR-0341	{background-image: linear-gradient(rgb(129, 251, 184) 10%, rgb(40, 199, 111) 100%);}
.GR-0342	{background-image: linear-gradient(rgb(226, 176, 255) 10%, rgb(159, 68, 211) 100%);}
.GR-0343	{background-image: linear-gradient(rgb(249, 119, 148) 10%, rgb(98, 58, 162) 100%);}
.GR-0344	{background-image: linear-gradient(rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);}
.GR-0345	{background-image: linear-gradient(rgb(247, 97, 161) 10%, rgb(140, 27, 171) 100%);}
.GR-0346	{background-image: linear-gradient(rgb(67, 203, 255) 10%, rgb(151, 8, 204) 100%);}
.GR-0347	{background-image: linear-gradient(rgb(94, 252, 232) 10%, rgb(115, 110, 254) 100%);}
.GR-0348	{background-image: linear-gradient(rgb(250, 215, 161) 10%, rgb(233, 109, 113) 100%);}
.GR-0349	{background-image: linear-gradient(rgb(255, 210, 111) 10%, rgb(54, 119, 255) 100%);}
.GR-0350	{background-image: linear-gradient(rgb(160, 254, 101) 10%, rgb(250, 1, 109) 100%);}
.GR-0351	{background-image: linear-gradient(rgb(255, 219, 1) 10%, rgb(14, 25, 125) 100%);}
.GR-0352	{background-image: linear-gradient(rgb(254, 193, 99) 10%, rgb(222, 67, 19) 100%);}
.GR-0353	{background-image: linear-gradient(rgb(146, 255, 192) 10%, rgb(0, 38, 97) 100%);}
.GR-0354	{background-image: linear-gradient(rgb(238, 173, 146) 10%, rgb(96, 24, 220) 100%);}
.GR-0355	{background-image: linear-gradient(rgb(246, 206, 236) 10%, rgb(217, 57, 205) 100%);}
.GR-0356	{background-image: linear-gradient(rgb(82, 229, 231) 10%, rgb(19, 12, 183) 100%);}
.GR-0357	{background-image: linear-gradient(rgb(241, 202, 116) 10%, rgb(166, 77, 182) 100%);}
.GR-0358	{background-image: linear-gradient(rgb(232, 208, 122) 10%, rgb(83, 18, 214) 100%);}
.GR-0359	{background-image: linear-gradient(rgb(238, 206, 19) 10%, rgb(178, 16, 255) 100%);}
.GR-0360	{background-image: linear-gradient(rgb(121, 241, 164) 10%, rgb(14, 92, 173) 100%);}
.GR-0361	{background-image: linear-gradient(rgb(253, 216, 25) 10%, rgb(232, 5, 5) 100%);}
.GR-0362	{background-image: linear-gradient(rgb(255, 243, 176) 10%, rgb(202, 38, 255) 100%);}
.GR-0363	{background-image: linear-gradient(rgb(255, 245, 195) 10%, rgb(148, 82, 165) 100%);}
.GR-0364	{background-image: linear-gradient(rgb(240, 95, 87) 10%, rgb(54, 9, 64) 100%);}
.GR-0365	{background-image: linear-gradient(rgb(42, 250, 223) 10%, rgb(76, 131, 255) 100%);}
.GR-0366	{background-image: linear-gradient(rgb(255, 248, 134) 10%, rgb(240, 114, 182) 100%);}
.GR-0367	{background-image: linear-gradient(rgb(151, 171, 255) 10%, rgb(18, 53, 151) 100%);}
.GR-0368	{background-image: linear-gradient(rgb(245, 203, 255) 10%, rgb(195, 70, 194) 100%);}
.GR-0369	{background-image: linear-gradient(rgb(255, 247, 32) 10%, rgb(60, 213, 0) 100%);}
.GR-0370	{background-image: linear-gradient(rgb(255, 111, 216) 10%, rgb(56, 19, 194) 100%);}
.GR-0371	{background-image: linear-gradient(rgb(238, 154, 229) 10%, rgb(89, 97, 249) 100%);}
.GR-0372	{background-image: linear-gradient(rgb(255, 211, 165) 10%, rgb(253, 101, 133) 100%);}
.GR-0373	{background-image: linear-gradient(rgb(194, 255, 216) 10%, rgb(70, 94, 251) 100%);}
.GR-0374	{background-image: linear-gradient(rgb(253, 101, 133) 10%, rgb(13, 37, 185) 100%);}
.GR-0375	{background-image: linear-gradient(rgb(253, 110, 106) 10%, rgb(255, 198, 0) 100%);}
.GR-0376	{background-image: linear-gradient(rgb(101, 253, 240) 10%, rgb(29, 111, 163) 100%);}
.GR-0377	{background-image: linear-gradient(rgb(107, 115, 255) 10%, rgb(0, 13, 255) 100%);}
.GR-0378	{background-image: linear-gradient(rgb(255, 122, 245) 10%, rgb(81, 49, 98) 100%);}
.GR-0379	{background-image: linear-gradient(rgb(240, 255, 0) 10%, rgb(88, 207, 251) 100%);}
.GR-0380	{background-image: linear-gradient(rgb(255, 233, 133) 10%, rgb(250, 116, 43) 100%);}
.GR-0381	{background-image: linear-gradient(rgb(255, 166, 183) 10%, rgb(30, 42, 210) 100%);}
.GR-0382	{background-image: linear-gradient(rgb(255, 170, 133) 10%, rgb(179, 49, 95) 100%);}
.GR-0383	{background-image: linear-gradient(rgb(114, 237, 242) 10%, rgb(81, 81, 229) 100%);}
.GR-0384	{background-image: linear-gradient(rgb(255, 157, 108) 10%, rgb(187, 78, 117) 100%);}
.GR-0385	{background-image: linear-gradient(rgb(246, 210, 66) 10%, rgb(255, 82, 229) 100%);}
.GR-0386	{background-image: linear-gradient(rgb(105, 255, 151) 10%, rgb(0, 228, 255) 100%);}
.GR-0387	{background-image: linear-gradient(rgb(59, 38, 103) 10%, rgb(188, 120, 236) 100%);}
.GR-0388	{background-image: linear-gradient(rgb(112, 245, 112) 10%, rgb(73, 198, 40) 100%);}
.GR-0389	{background-image: linear-gradient(rgb(60, 140, 231) 10%, rgb(0, 234, 255) 100%);}
.GR-0390	{background-image: linear-gradient(rgb(250, 178, 255) 10%, rgb(25, 4, 229) 100%);}
.GR-0391	{background-image: linear-gradient(rgb(129, 255, 239) 10%, rgb(240, 103, 180) 100%);}
.GR-0392	{background-image: linear-gradient(rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);}
.GR-0393	{background-image: linear-gradient(rgb(255, 207, 113) 10%, rgb(35, 118, 221) 100%);}
.GR-0394	{background-image: linear-gradient(rgb(255, 150, 249) 10%, rgb(195, 43, 172) 100%);}
.GR-0395	{background-image: linear-gradient(#FAF7F5 0%,#E2D2C4 100%);}
.GR-0396	{background-image: linear-gradient(#E2EBEF 0%,#D0DAE0 100%);}
.GR-0397	{background-image: linear-gradient(#E9FFF7 0%,#D5F5FD 100%);}
.GR-0398	{background-image: linear-gradient(#F6F5F5 0%,#DCDCDC 100%);}
.GR-0399	{background-image: linear-gradient(#ECECEC 0%,#C3E5F8 100%);}
.GR-0400	{background-image: linear-gradient(#E7F4F5 0%,#4EF0FA 100%);}
.GR-0401	{background-image: linear-gradient(#F9E794 0%,#F6BED4 100%);}
.GR-0402	{background-image: linear-gradient(#FFECD2 0%,#FCB8A2 100%);}
.GR-0403	{background-image: linear-gradient(#A7CCE1 0%,#ECF6ED 100%);}
.GR-0404	{background-image: linear-gradient(#F3F3F3 0%,#EEDCDA 50%,#D8BCB9 100%);}
.GR-0405	{background-image: linear-gradient(#F8C6D7 0%,#AFE9F9 100%);}
.GR-0406	{background-image: linear-gradient(#FECFEE 0%,#FF9CA0 100%);}
.GR-0407	{background-image: linear-gradient(#62B9B7 0%,#ECF6ED 100%);}
.GR-0408	{background-image: linear-gradient(#FAC8CD 0%,#F8C169 100%);}
.GR-0409	{background-image: linear-gradient(#FFE2A0 0%,#FF739C 100%);}
.GR-0410	{background-image: linear-gradient(#EAAC89 0%,#EEE2CD 100%);}
.GR-0411	{background-image: linear-gradient(#E6AAE3 0%,#EFAFA4 100%);}
.GR-0412	{background-image: linear-gradient(#E5DDCC 0%,#71BEC2 100%);}
.GR-0413	{background-image: linear-gradient(#E0F787 0%,#4EE3FA 100%);}
.GR-0414	{background-image: linear-gradient(#56D8E4 0%,#9ACE95 100%);}
.GR-0415	{background-image: linear-gradient(#EA9591 0%,#FDB2AD 100%);}
.GR-0416	{background-image: linear-gradient(#FAE99B 0%,#E59740 100%);}
.GR-0417	{background-image: linear-gradient(#FF94C4 0%,#EB5170 100%);}
.GR-0418	{background-image: linear-gradient(#F7EE93 0%,#EADC22 100%);}
.GR-0419	{background-image: linear-gradient(#F3F96C 0%,#D2AD19 100%);}
.GR-0420	{background-image: linear-gradient(#F7E467 0%,#74C4AC 100%);}
.GR-0421	{background-image: linear-gradient(#92C35D 0%,#EADC22 100%);}
.GR-0422	{background-image: linear-gradient(#F8C55B 0%,#F86137 100%);}
.GR-0423	{background-image: linear-gradient(#C1943F 0%,#EECD6C 100%);}
.GR-0424	{background-image: linear-gradient(#D97C98 0%,#EADC22 100%);}
.GR-0425	{background-image: linear-gradient(#F8BC4F 0%,#D31557 100%);}
.GR-0426	{background-image: linear-gradient(#FEAB2A 0%,#E04E6B 100%);}
.GR-0427	{background-image: linear-gradient(#F93F48 0%,#FAB779 100%);}
.GR-0428	{background-image: linear-gradient(#F5A780 0%,#F12B5C 100%);}
.GR-0429	{background-image: linear-gradient(#E73EA2 0%,#F8C169 100%);}
.GR-0430	{background-image: linear-gradient(#94C651 0%,#93BDD8 100%);}
.GR-0431	{background-image: linear-gradient(#00E27B 0%,#00A6BE 100%);}
.GR-0432	{background-image: linear-gradient(#DADADA 0%,#8A8A8A 100%);}
.GR-0433	{background-image: linear-gradient(#06E3FA 0%,#E59740 100%);}
.GR-0434	{background-image: linear-gradient(#30F5FB 0%,#178ECB 100%);}
.GR-0435	{background-image: linear-gradient(#FA8FBF 0%,#8AB0FA 100%);}
.GR-0436	{background-image: linear-gradient(#9DBDCC 0%,#E73DA1 100%);}
.GR-0437	{background-image: linear-gradient(#C3E5F8 0%,#E03492 100%);}
.GR-0438	{background-image: linear-gradient(#81CCCF 0%,#D35D3B 100%);}
.GR-0439	{background-image: linear-gradient(#359AB6 0%,#6AB365 100%);}
.GR-0440	{background-image: linear-gradient(#06E3FA 0%,#507790 100%);}
.GR-0441	{background-image: linear-gradient(#48D1E3 0%,#458FB2 100%);}
.GR-0442	{background-image: linear-gradient(#F5C4CF 0%,#4252B7 100%);}
.GR-0443	{background-image: linear-gradient(#E1148B 0%,#93BDD8 100%);}
.GR-0444	{background-image: linear-gradient(#F0980B 0%,#7C6FD3 100%);}
.GR-0445	{background-image: linear-gradient(#6174B4 0%,#E59740 100%);}
.GR-0446	{background-image: linear-gradient(#01AEEF 0%,#E86564 100%);}
.GR-0447	{background-image: linear-gradient(#DA7D98 0%,#993D77 100%);}
.GR-0448	{background-image: linear-gradient(#F44869 0%,#9F01EA 100%);}
.GR-0449	{background-image: linear-gradient(#F97B5C 0%,#B04DE6 100%);}
.GR-0450	{background-image: linear-gradient(#723792 0%,#EFADB7 100%);}
.GR-0451	{background-image: linear-gradient(#56D8E4 0%,#9F01EA 100%);}
.GR-0452	{background-image: linear-gradient(#80EAD1 0%,#5B34A2 100%);}
.GR-0453	{background-image: linear-gradient(#BAD5F1 0%,#2A276B 100%);}
.GR-0454	{background-image: linear-gradient(#0A537A 0%,#81D1C9 100%);}
.GR-0455	{background-image: linear-gradient(#759E9C 0%,#9C619C 100%);}
.GR-0456	{background-image: linear-gradient(#253F4F 0%,#B5677F 50%,#CCC6BA 100%);}
.GR-0457	{background-image: linear-gradient(#EAAC89 0%,#33454F 100%);}
.GR-0458	{background-image: linear-gradient(#F05E07 0%,#1EBDB1 100%);}
.GR-0459	{background-image: linear-gradient(#67B4B1 0%,#346688 100%);}
.GR-0460	{background-image: linear-gradient(#F8685C 0%,#1940A9 100%);}
.GR-0461	{background-image: linear-gradient(#F05E07 0%,#5B34A2 100%);}
.GR-0462	{background-image: linear-gradient(#EC6864 0%,#423C69 100%);}
.GR-0463	{background-image: linear-gradient(#F9579F 0%,#63247E 100%);}
.GR-0464	{background-image: linear-gradient(#889C76 0%,#065E60 100%);}
.GR-0465	{background-image: linear-gradient(#889C76 0%,#417B6C 50%,#2B2D4E 100%);}
.GR-0466	{background-image: linear-gradient(#2F808C 0%,#63247E 100%);}
.GR-0467	{background-image: linear-gradient(#A14D8C 0%,#6C4D91 100%);}
.GR-0468	{background-image: linear-gradient(#546F7E 0%,#33454F 100%);}
.GR-0469	{background-image: linear-gradient(#D05A55 0%,#311240 100%);}
.GR-0470	{background-image: linear-gradient(#E1148B 0%,#2B2D4E 100%);}
.GR-0471	{background-image: linear-gradient(#982709 0%,#000200 100%);}
.GR-0472	{background-image: linear-gradient(#6A3D40 0%,#2C2121 100%);}
.GR-0473	{background-image: linear-gradient(#95A8B5 0%,#3D484E 100%);}
.GR-0474	{background-image: linear-gradient(#325762 0%,#26344D 100%);}
.GR-0475	{background-image: linear-gradient(#021B3E 0%,#517795 100%);}
.GR-0476	{background-image: linear-gradient(#252E3A 0%,#475463 100%);}
.GR-0477	{background-image: linear-gradient(#0160BA 0%,#000000 100%);}
.GR-0478	{background-image: linear-gradient(#33454F 0%,#1F292F 100%);}
.GR-0479	{background-image: linear-gradient(#5B3261 0%,#332549 100%);}
.GR-0480	{background-image: linear-gradient(#5F5F5F 0%,#000000 100%);}
.GR-0481	{background-image: linear-gradient(#37464C 0%,#21292C 100%);}
.GR-0482	{background-image: linear-gradient(#414141 0%,#000000 100%);}