/*
when background image is 792px x 320px we divide it by 24 frames, and the we get the width needed, which is 33px (we add 1px).

320		792
240		594
1044	2508
240		576.55

*/
body {
background: black;
}
#container {
position: fixed;
    text-align: center;
    margin: 0 auto;
    top: 192px;
    left: 160px;
    /* width: 550px; */
    -moz-perspective: 900px;
    -webkit-perspective: 1600;
}
#container:hover * {
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused}
	  
#frame {
width: 24px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform: rotateX(0deg) rotateY(45deg) rotateZ(15deg) translate3d(0px,0px,0px);
    -webkit-transform: rotateX(-2.5deg) rotateY(180deg) rotateZ(0deg) translate3d(0px,0px,0px);
}
	
.strip {-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-animation: spin 100s infinite linear;
	-webkit-animation: spin  infinite linear}

.strip div {
	position: absolute;
	background: #000 url(../578x260_Sample_1.png);  /* background image is 792px 320px, try with green-hills or thailand-sunrise.jpg */
	/*background-size: contain;*/
	border: /*solid rgb(145,87,0)*/;
	border-width: /*thin 0*/;
	height:257px;
	width:34px;
	opacity: 1;
	border-top: solid white;
    border-width: 1px;
	}

.strip .a {background-position: 0 0; /* reaches the 576px width*/
	   -moz-transform: rotateY(0deg) translateZ(111px);
	-webkit-transform: rotateY(0deg) translateZ(111px)}
		
.strip .b {background-position: 552px 0;
	   -moz-transform: rotateY(15deg) translateZ(111px);
	-webkit-transform: rotateY(15deg) translateZ(111px)}
	
.strip .c {background-position: 528px 0;
	   -moz-transform: rotateY(30deg) translateZ(111px);
	-webkit-transform: rotateY(30deg) translateZ(111px)}
	
.strip .d {background-position: 504px 0;
	   -moz-transform: rotateY(45deg) translateZ(111px);
	-webkit-transform: rotateY(45deg) translateZ(111px)}	
	
.strip .e {background-position: 480px 0;
	   -moz-transform: rotateY(60deg) translateZ(111px);
	-webkit-transform: rotateY(60deg) translateZ(111px)}	
	
.strip .f {background-position: 456px 0;
	   -moz-transform: rotateY(75deg) translateZ(111px);
	-webkit-transform: rotateY(75deg) translateZ(111px)}

.strip .g {background-position: 432px 0;
	   -moz-transform: rotateY(90deg) translateZ(111px);
	-webkit-transform: rotateY(90deg) translateZ(111px)}
	
.strip .h {background-position: 408px 0;
	   -moz-transform: rotateY(105deg) translateZ(111px);
	-webkit-transform: rotateY(105deg) translateZ(111px)}	
	
.strip .i {background-position: 384px 0;
	   -moz-transform: rotateY(120deg) translateZ(111px);
	-webkit-transform: rotateY(120deg) translateZ(111px)}	
	
.strip .j {background-position: 360px 0;
	   -moz-transform: rotateY(135deg) translateZ(111px);
	-webkit-transform: rotateY(135deg) translateZ(111px)}
	
.strip .k {background-position: 336px 0;
	   -moz-transform: rotateY(150deg) translateZ(111px);
	-webkit-transform: rotateY(150deg) translateZ(111px)}
		
.strip .l {background-position: 312px 0;
	   -moz-transform: rotateY(165deg) translateZ(111px);
	-webkit-transform: rotateY(165deg) translateZ(111px)}	
		
.strip .m {background-position: 288px 0;
	   -moz-transform: rotateY(180deg) translateZ(111px);
	-webkit-transform: rotateY(180deg) translateZ(111px)}		
		
.strip .n {background-position: 264px 0;
	   -moz-transform: rotateY(195deg) translateZ(111px);
	-webkit-transform: rotateY(195deg) translateZ(111px)}
	
.strip .o {background-position: 240px 0;
	   -moz-transform: rotateY(210deg) translateZ(111px);
	-webkit-transform: rotateY(210deg) translateZ(111px)}
	
.strip .p {background-position: 216px 0;
	   -moz-transform: rotateY(225deg) translateZ(111px);
	-webkit-transform: rotateY(225deg) translateZ(111px)}	
	
.strip .q {background-position: 192px 0;
	   -moz-transform: rotateY(240deg) translateZ(111px);
	-webkit-transform: rotateY(240deg) translateZ(111px)}	
	
.strip .r {background-position: 168px 0;
	   -moz-transform: rotateY(255deg) translateZ(111px);
	-webkit-transform: rotateY(255deg) translateZ(111px)}
	
.strip .s {background-position: 144px 0;
	   -moz-transform: rotateY(270deg) translateZ(111px);
	-webkit-transform: rotateY(270deg) translateZ(111px)}
	
.strip .t {background-position: 120px 0;
	   -moz-transform: rotateY(285deg) translateZ(111px);
	-webkit-transform: rotateY(285deg) translateZ(111px)}	
	
.strip .u {background-position: 96px 0;
	   -moz-transform: rotateY(300deg) translateZ(111px);
	-webkit-transform: rotateY(300deg) translateZ(111px)}	
	
.strip .v {background-position: 72px 0;
	   -moz-transform: rotateY(315deg) translateZ(111px);
	-webkit-transform: rotateY(315deg) translateZ(111px)}
	
.strip .w {background-position: 48px 0;
	   -moz-transform: rotateY(330deg) translateZ(111px);
	-webkit-transform: rotateY(330deg) translateZ(111px)}
	
.strip .x {background-position: 24px 0;
	   -moz-transform: rotateY(345deg) translateZ(111px);
	-webkit-transform: rotateY(345deg) translateZ(111px)}

@-moz-keyframes spin {
	from { -moz-transform: rotateY(0)}
	to   { -moz-transform: rotateY(-360deg)}}
	
@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(0)}
	to   { -webkit-transform: rotateY(-360deg)}}
.blankMug {
position:fixed;
top: 177px;
left: 20px;
}
