@font-face {
  font-family: "Expansiva";
  src: url("/home/demo/.fonts/Expansiva.otf") format("opentype");
}
@font-face {
  font-family: "PT_Sans-Narrow-Web-Regular";
  src: url("/home/demo/.fonts/PT_Sans-Narrow-Web-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  src: url("/home/demo/.fonts/PT_Sans-Narrow-Web-Regular_TRA.otf")
    format("opentype");
}
@font-face {
  font-family: "DavidLibre-Regular";
  src: url("/home/demo/.fonts/DavidLibre-Regular.ttf") format("truetype");
}
html{background: black}
html
body {
  margin: 0 auto;
  color: black;
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 16px;
  text-shadow: 1 2 3px orange;
  background-color: #fefefe;
}
sup {
  font-size: 14pt;
  line-height: 0;
  color: red;
}

.PAGE_sections {
  color: red;
  font-size: 30pt;
  page-break-before: always;
  /*	page-break-after: always; */
}
.PAGE_books {
  color: blue;
  font-size: 30pt;
  page-break-before: always;
  /*	page-break-after: always; */
}

@page {
  /*size: 6.125in 9.250in; */ /* width height */
  size: A4;
  margin: 2in 1in;
  @footnote {
    float: bottom;
    column-span: all;
    height: auto;
  }
}
/* global margins */
@page: left{
  margin-top: 30mm;
  margin-bottom: 30mm;
  margin-left: 30mm;
  margin-right: 30mm;
};
@page: right{
  margin-top: 30mm;
  margin-bottom: 30mm;
  margin-left: 30mm;
  margin-right: 30mm;
};
/**********************************************/
/* BEGIN footnotes *****************************/
/**********************************************/
/* <sup><span class="footnote">My Footnote Content 2</span></sup> */
.footnote {
  float: footnote;
  color: green;
  font-style: italic;
  line-height: 100%;
  display: inline;
  font-size: 75%;
  text-align: left;
  text-indent: 0;
  vertical-align: super;
  background-color: rgba(0, 0, 0, 0.1);
}
.footnote_heb {
  color: hotpink;
  text-align: left;
  direction: ltr;
}
.footnote_reg {
}
.footnote::footnote-call,
.footnote::footnote-marker {
  /* content: '[' counter(footnote) ']'; */
  content: '[' counter(footnote) ']';
}
.footnote::footnote-call {
  font-weight: bold;
  font-size: 80%;
  margin: 0 0.3rem;
}
.footnote::footnote-marker {
  color: blue;
  font-weight: bold;
  margin-right: 0.2rem;
}
@-adapt-footnote-area: : before{
  margin-inline-start: -1000px;
  margin-inline-end: 70%;
  margin-block-end: 0.8em;
  border-top: none;
};
article {
  counter-reset: footnote 0;
  page-break-before: always;
}
/**********************************************/
/* END footnotes *****************************/
/**********************************************/
/* BEGIN First page */
@page :first {
  /* top */
  @top-left-corner {
    content: none !important;
  }
  @top-left {
    content: none !important;
  }
  @top-center {
    content: none !important;
  }
  @top-right {
    content: none !important;
  }
  @top-right-corner {
    content: none !important;
  }
  /* left */
  @left-top {
  }
  @left-middle {
  }
  @left-bottom {
  }
  /* right */
  @right-top {
  }
  @right-middle {
  }
  @right-bottom {
  }
  /* bottom */
  @bottom-left-corner {
    content: none !important;
  }
  @bottom-left {
    content: none !important;
  }
  @bottom-center {
    content: none !important;
  }
  @bottom-right {
    content: none !important;
  }
  @bottom-right-corner {
    content: none !important;
  }
}
/* END First page */
/* END Blank pages */
.blank-page {
  page: blank;
  page-break-after: always;
}
@page blank {
  /* top */
  @top-left-corner {
    content: none !important;
  }
  @top-left {
    content: none !important;
  }
  @top-center {
    content: "This is a BLANK PAGE" !important;
  }
  @top-right {
    content: none !important;
  }
  @top-right-corner {
    content: none !important;
  }
  /* left */
  @left-top {
  }
  @left-middle {
  }
  @left-bottom {
  }
  /* right */
  @right-top {
  }
  @right-middle {
  }
  @right-bottom {
  }
  /* bottom */
  @bottom-left-corner {
    content: none !important;
  }
  @bottom-left {
    content: none !important;
  }
  @bottom-center {
    content: none !important;
  }
  @bottom-right {
    content: none !important;
  }
  @bottom-right-corner {
    content: none !important;
  }
}
/* END Blank pages */

/* ***************************** */
/* BEGIN Table of contents (TOC) */
/* ***************************** */
/* BEGIN toc_table */
table.toc_table {
  width: 100%;
}
table.toc_table > tbody > tr > td {
  width: 33.33%;
  background: gainsboro;
}
.toc_table_sections {
}
.toc_table_books {
}
.menu_sec_heb,
.menu_book_heb {
  font-family: "DavidLibre-Regular";
}
.menu_sec_tra,
.menu_book_tra {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
}
.menu_sec_reg,
.menu_book_reg {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
}
.menu_sec_heb {
  font-size: 26px;
}
.menu_sec_tra {
  font-size: 20px;
}
.menu_sec_reg {
  font-size: 20px;
}
.menu_book_heb {
  font-size: 16px;
}
.menu_book_tra {
  font-size: 12px;
}
.menu_book_reg {
  font-size: 12px;
}
/*
longest tra is  Divrei Haiyamim Alef 28
longest heb is  נְבִיאִים רִאשֹׁנִים םם
longest reg is  Former Prophets 28
*/
/* END toc_table */

.wrap_table_toc_table ul a::after {
  content: leader(".") target-counter(attr(href), page);
}

@page toc {
  /* top */
  @top-left-corner {
    content: none !important;
  }
  @top-left {
    content: none !important;
  }
  @top-center {
    content: "Table of CONTENTS" !important;
  }
  @top-right {
    content: none !important;
  }
  @top-right-corner {
    content: none !important;
  }
  /* left */
  @left-top {
  }
  @left-middle {
  }
  @left-bottom {
  }
  /* right */
  @right-top {
  }
  @right-middle {
  }
  @right-bottom {
  }
  /* bottom */
  @bottom-left-corner {
    content: none !important;
  }
  @bottom-left {
    content: none !important;
  }
  @bottom-center {
    content: none !important;
  }
  @bottom-right {
    content: none !important;
  }
  @bottom-right-corner {
    content: none !important;
  }
}
/* ***************************** */
/* END Table of contents (TOC) */
/* ***************************** */

/* ////////////////// */
/* BEGIN all 16 areas */
/* ////////////////// */
@page {
  /* top */
  @top-left-corner {
    content: counter(page);
    text-align: center;
  }
  @top-left {
    content: counter(page);
    text-align: left;
  }
  @top-center {
    content: counter(page);
    text-align: center;
  }
  @top-right {
    content: counter(page);
    text-align: right;
  }
  @top-right-corner {
    content: counter(page);
    text-align: center;
  }
  /* left */
  @left-top {
  }
  @left-middle {
  }
  @left-bottom {
  }
  /* right */
  @right-top {
  }
  @right-middle {
  }
  @right-bottom {
  }
  /* bottom */
  @bottom-left-corner {
    content: counter(page);
    text-align: center;
  }
  @bottom-left {
    content: counter(page);
    text-align: left;
  }
  @bottom-center {
    content: counter(page);
    text-align: center;
  }
  @bottom-right {
    content: counter(page);
    text-align: right;
  }
  @bottom-right-corner {
    content: counter(page);
    text-align: center;
  }
}
/* ////////////////// */
/* END all 16 areas   */
/* ////////////////// */

/* BEGIN override to always the same for all pages */
@page {
  @top-center {
    /*    margin: 10pt 0 30pt 0; */
    border-bottom: 0.25pt solid #999;
    content: "talmidim edition";
    font-variant: normal !important;
    color: #222222 !important;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA" !important;
    font-size: 14px !important;
    text-shadow: 1 2 3px gray;
  }
  @bottom-center {
    /*    margin: 10pt 0 30pt 0; */
    border-top: 0.25pt solid #999;
    content: "Miqra According to The Masorah & Delitzch with Pure Cambridge";
    font-variant: normal !important;
    color: #222222 !important;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA" !important;
    font-size: 14px !important;
    text-shadow: 1 2 3px gray;
  }
}
/* END override to always the same for all pages */

/* BEGIN Just in Section & Book pages -> Override to nothing the Display chapter name in page header */
.PAGE_sections > .used_to_hide_all_16 {
  string-set: chapter_title content();
}
.PAGE_books > .used_to_hide_all_16 {
  string-set: chapter_title content();
}
/* END Just in Section & Book pages -> Override to nothing the Display chapter name in page header */

/* BEGIN Display section & book & chapter */
.flex_item {
  width: 100%;
  color: green;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.PAGE_sections > .flex_item > .section_name_heb {
  string-set: section_name_heb content();
}
.PAGE_sections > .flex_item > .section_name_tra {
  string-set: section_name_tra content();
}
.PAGE_sections > .flex_item > .section_name_eng {
  string-set: section_name_eng content();
}

article > .flex_item > .chapter_name_heb {
  string-set: chapter_name_heb content();
}
article > .flex_item > .chapter_name_tra {
  string-set: chapter_name_tra content();
}
article > .flex_item > .chapter_name_eng {
  string-set: chapter_name_eng content();
}

@page :left {
  @top-left {
    content: string(section_name_tra);
    text-shadow: 0 0 6px gray;
  }
  @top-right {
    content: string(chapter_name_tra);
    text-shadow: 0 0 6px gray;
  }
  @left-top {
    background-color: #fff;
    color: white;
    content: string(section_name_tra);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 0.5pt;
    -webkit-text-stroke-color: #d5ad6d;
  }
  @left-middle {
    background-color: #fff;
    color: white;
    content: string(section_name_heb);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 40px;
    font-family: "DavidLibre-Regular", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: middle;
  }
  @left-bottom {
    background-color: #fff;
    color: white;
    content: string(section_name_eng);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
  }
  @right-top {
    background-color: #fff;
    color: white;
    content: string(chapter_name_tra);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(1, 1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
  }
  @right-middle {
    background-color: #fff;
    color: white;
    content: string(chapter_name_heb);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(1, 1);
    font-size: 40px;
    font-family: "DavidLibre-Regular", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: middle;
  }
  @right-bottom {
    background-color: #fff;
    color: white;
    content: string(chapter_name_eng);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(1, 1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 10px;
  }
  @bottom-left {
    content: string(section_name_eng);
    text-shadow: 0 0 6px gray;
  }
  @bottom-right {
    content: string(chapter_name_eng);
    text-shadow: 0 0 6px gray;
  }
}
@page :right {
  @top-left {
    content: string(section_name_tra);
    text-shadow: 0 0 6px gray;
  }
  @top-right {
    content: string(chapter_name_tra);
    text-shadow: 0 0 6px gray;
  }
  @left-top {
    background-color: #fff;
    color: white;
    content: string(section_name_tra);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 0.5pt;
    -webkit-text-stroke-color: #d5ad6d;
  }
  @left-middle {
    background-color: #fff;
    color: white;
    content: string(section_name_heb);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 40px;
    font-family: "DavidLibre-Regular", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: middle;
  }
  @left-bottom {
    background-color: #fff;
    color: white;
    content: string(section_name_eng);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
  }
  @right-top {
    background-color: #fff;
    color: white;
    content: string(chapter_name_tra);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(1, 1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
  }
  @right-middle {
    background-color: #fff;
    color: white;
    content: string(chapter_name_heb);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(1, 1);
    font-size: 40px;
    font-family: "DavidLibre-Regular", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: middle;
  }
  @right-bottom {
    background-color: #fff;
    color: white;
    content: string(chapter_name_eng);
    text-shadow: 0 0 6px black;
    writing-mode: vertical-rl;
    transform: scale(1, 1);
    font-size: 40px;
    font-family: "PT_Sans-Narrow-Web-Regular_TRA", serif;
    white-space: nowrap;
    text-align: center;
    line-height: 150px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 10px;
  }
  @bottom-left {
    content: string(section_name_eng);
    text-shadow: 0 0 6px gray;
  }
  @bottom-right {
    content: string(chapter_name_eng);
    text-shadow: 0 0 6px gray;
  }
}

/* END Display section & book & chapter */

/* BEGIN Cover */
/*
.cover {
  page: cover;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url('cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
*/
.cover h1 {
  margin-top: 1in;
  margin-left: 1in;
  margin-right: 1in;
  color: white;
  text-align: center;
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-weight: 300;
  font-size: 72px;
  filter: drop-shadow(0px 0px 6px black);
  -webkit-text-stroke-width: 0.5pt;
  -webkit-text-stroke-color: #d5ad6d;
}
@page cover {
  margin: 0;
  /* top */
  @top-left-corner {
    content: none !important;
  }
  @top-left {
    content: none !important;
  }
  @top-center {
    content: none !important;
  }
  @top-right {
    content: none !important;
  }
  @top-right-corner {
    content: none !important;
  }
  /* left */
  @left-top {
  }
  @left-middle {
  }
  @left-bottom {
  }
  /* right */
  @right-top {
  }
  @right-middle {
  }
  @right-bottom {
  }
  /* bottom */
  @bottom-left-corner {
    content: none !important;
  }
  @bottom-left {
    content: none !important;
  }
  @bottom-center {
    content: none !important;
  }
  @bottom-right {
    content: none !important;
  }
  @bottom-right-corner {
    content: none !important;
  }
}
/* END Cover */

/* Display links as footnotes */
/*
article {
  counter-reset: footnote;
}

article a {
  text-decoration: underline;
  color: inherit;
}

article a::after {
  content: attr(href);
  float: footnote;
  font-size: 0.6rem;
  text-align: left;
  color: inherit;
}
*/
/* Start new chapters on a new page */
article {
  /* page-break-after: always; */
}

/* Avoid page break before subtitles */

article h3 {
  /*
  page-break-after: avoid;
  */
}

/* Avoid breaking paragraphs */
article p {
  /*
  orphans: 2;
  widows: 3;
  */
}

/*
https://www.glyphrstudio.com/online/
ė
original width = 334
original height = 718

new width = 250
new height = 538

*/

/* BEGIN Interlinear styles */
.wrap_table_bible_feed { color: black; font-size: 12pt}
table.bible_feed {
  width: 100%;
}
table.bible_feed > tbody > tr > td {
  background: #f4f4f4;
  vertical-align: top;
}

div.i {
  float: right;
  margin-bottom: 0.2em;
  color: black;
  background: lightyellow;
}
p.h {
  font-family: "DavidLibre-Regular";
  font-size: 16pt;
  margin: 0em;
  padding: 0em 0.2em;
  direction: ;
  text-align: right;
}
p.t {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 9pt;
  color: gray;
  margin: 0em;
  padding: 0em 0.2em;
  direction: ;
  text-align: right;
}
p.s {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 7pt;
  color: gray;
  margin: 0em;
  padding: 0em 0.2em;
  direction: ;
  text-align: right;
}
p.m {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 7pt;
  color: gray;
  margin: 0em;
  padding: 0em 0.2em;
  direction: ;
  text-align: right;
}

/* END Interlinear styles */

/* BEGIN ruby interlinear */
/*
.wrap_ruby {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
	padding: 50px;
}
*/
.wrap_ruby > span {
  line-height: 22pt;
}
ruby {
  ruby-position: under;
  font-family: "DavidLibre-Regular";
  font-size: 16pt;
}
.tra {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 9pt;
  color: gray;
  text-align: center;
  color: blue;
}
.str {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 7pt;
  text-align: center;
  color: red;
}
.mor {
  font-family: "PT_Sans-Narrow-Web-Regular_TRA";
  font-size: 7pt;
  text-align: center;
  color: green;
}

.NewWord {
  padding-left: 8pt;
  color: purple;
}

note[n] {
  display: ;
}
note[type="variant"] {
  display: ;
}

w[type="x-ketiv"] {
  vertical-align: super;
  font-size: 50%;
  line-height: 0;
  color: brown;
}
catchWord {
  display: none;
}
/* END ruby interlinear */

.rtl {
  text-align: right;
}
